<!-- —————————————————————————————————————————
		partial: _cms
		——————————————————————————————————————————
-->
<style type="text/css">
	div.spacer { height:20px;}
	ul.info {list-style-type:none;}
	ul.info li {}
	ul.functions {list-style-type:none;}
</style>
<div class="spacer"></div>

<ul class="functions">
	<li><button>Go</button>&nbsp;&nbsp;Import images for new products; upload to CDN</li>
	<li><button>Go</button>&nbsp;&nbsp;Import images for existing products; upload to CDN</li>
	<li><button>Go</button>&nbsp;&nbsp;Import videos for new products; upload to CDN</li>
	<li><button>Go</button>&nbsp;&nbsp;Import videos for existing products; upload to CDN</li>
</ul>
<ul class="info">
	<li>CDN: Amazon S3</li>
	<li>Video CDN: Brightcove/Akamai</li>
</ul>