<!-- —————————————————————————————————————————
		partial: _purchase_analytics
		——————————————————————————————————————————
-->
<div class="spacer"></div>
<ul class="functions">
	<li><button>Go</button>&nbsp;&nbsp;Graph Aggregate Revenue over Time</li>
	<li><button>Go</button>&nbsp;&nbsp;Graph Revenue by Product Category</li>
	<li><button>Go</button>&nbsp;&nbsp;Graph Revenue Change</li>
</ul>