<!-- —————————————————————————————————————————
		partial: _traffic analytics
		——————————————————————————————————————————
-->
<div class="spacer"></div>
<ul class="functions">
	<li><button>Go</button>&nbsp;&nbsp;Graph Traffic Over Time</li>
	<li><button>Go</button>&nbsp;&nbsp;Graph Traffic Trends</li>
	<li><button>Go</button>&nbsp;&nbsp;Exit Analysis</li>
</ul>