/*
	athletes
*/
.athletes h2{
	font-size:21px;
	padding:0px;
	margin:35px 0px -3px 5px;
}
.athletes{
margin-top:34px;
}

.list-athletes a{
	height:172px;
	display:block;
	float:left;
	width:233px;
	margin:0 5px 14px 0;
	cursor:pointer;
}
.list-athletes a.athletes-right{
	margin-right:0;
}
.list-athletes a:hover{
	background-color:#ffe500;
}

.list-athletes{margin-bottom:0px;}

.list-athletes a .helvetica{
	display:block;
	margin-top:8px;
	font-size:15px;
	margin-left:12px;
}
/*
.list-athletes .center{
	margin-left:5px;
	margin-right:5px;
}*/

.list-athletes a img,.list-athletes a:hover img{
	border:none;
}

.popAthletes span {
	font-size:11px;
	display:block;
	background: url('/sites/default/themes/mavic/images/puce.gif') no-repeat;
	background-position: 0px 7px;
	padding-left: 10px;	
	line-height:16px;
}

#img_athlete {
	margin-right: 15px;
}

#info_athlete {
	font-size: 11px;
}

#info_athlete ul {
	list-style: square outside none;
	margin : 0px;
	padding-left: 0px;
	
}

#info_athlete li {
	background: url("images/puce_mini.jpg") no-repeat scroll 0 60% transparent;
	line-height: 14px;
	padding-left: 8px;
	list-style: none outside none;
}

.athlete h1 {
	margin-bottom: 8px;
}

#tabs .athlete .relatednews {
	padding-left: 0px;
}
