/* CSS file: buttons.css */ 

	#main_content a.button_404 {
		display:inline-block;
		color:#fff;
		background-color:#000;
		text-transform:uppercase;
		padding-left:6px;
		padding-right:36px;
		font-size:11px;
		height:21px;
		font-weight:bold;
		margin-top:40px;
		padding-top:2px;
	}
	
	#main_content a.button_404:hover {
		color: #000000;
		background-color: #ffe500;
	}
	
	a.std_button_view, #main_content a.std_button_view {
		margin-right:2px;
		line-height: 20px;
		padding: 0px 10px 0px 10px;
		color:#ffffff;
		font-weight: bold;
		font-size: 10px;
		cursor: pointer;
		background-color: #000;
		text-decoration: none;
		display: block;
		float:left;
		text-transform: uppercase;
	}
	
	a.std_button_view:hover, #main_content a.std_button_view:hover {
		background-color: #ffe500;
		color: #000;
		text-decoration: none;
	}
	
	a.button_view,
	li.pager-next a,
	li.pager-previous a {
		margin-right:2px;
		line-height: 20px;
		padding: 0px 10px 0px 21px;
		float:left;
		color:#ffffff;
		font-weight: bold;
		font-size: 10px;
		cursor: pointer;
		background: #000 url('images/pic_black.gif') no-repeat top left; /* --- IMAGE ----------------  */
		text-decoration: none;
		display: block;
		text-transform: uppercase;
	}
	
	#techno_title a.button_view {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		float: none;
		background-image: none;
		padding-left: 10px;
		margin-left: 10px;
	}
	
	a.button_view:hover,
	a.button-view-active,
	li.pager-next a:hover,
	li.pager-previous a:hover	{
		background: #ffe500 url('images/pic_jaune.gif') no-repeat top left; /* --- IMAGE ----------------  */
		color: #000;
		text-decoration: none;
	}

	#main_content a.button_view:hover {
		color: #000;
	}

	a.button-view-front {
		background: #000;
		padding: 0px 10px 0px 10px;
		text-transform: uppercase;
	}

	a.button-view-front:hover,
	a.button-view-front-active {
		background: #ffe500;
		text-transform: uppercase;
	}

	a.button-view-rear {
		padding: 0px 10px 0px 10px;
		background: #000;
		text-transform: uppercase;
	}

	a.button-view-rear:hover,
	a.button-view-rear-active {
		background: #ffe500 ;
		text-transform: uppercase;
	}

	.button_view img {
		vertical-align: middle;
		display: none;
	}

	a.button-view-next,
	li.pager-next a {
		float: right;
		padding-right:21px;
		padding-left:10px;
		margin: 0px;
		background: #000 url('images/next_black.gif') no-repeat top right; /* --- IMAGE ----------------  */
	}

	a.button-view-next:hover,
	#main_content li.pager-next a:hover {
		margin: 0px;
		background: #ffe500 url('images/next_jaune.gif') no-repeat top right; /* --- IMAGE ----------------  */
		color: #000000;
	}

	a.button-view-previous,
	li.pager-previous a {
		background: #000 url('images/previous_black.gif') no-repeat top left; /* --- IMAGE ----------------  */
	}

	a.button-view-previous:hover,
	li.pager-previous a:hover {
		background: #ffe500 url('images/previous_jaune.gif') no-repeat top left; /* --- IMAGE ----------------  */
		color: #000000;
	}
