#popupsContainer { 
	position: absolute; 
	top:0px; left:260px; /* was 230: was 270 in tm3ror_bad; 15 +235 + 5 */
	width: 700px;			
	z-index:100; /* black_screen (trumedical_base.css) is z-index 98; menu (menu.css) is 99 */
}		
.popup_base { 
	position:absolute; /* within popupsContainer */ 
	top:0px; /* the default: used by trumedical, patients, providers, payors: no effect */
	left: 0px; 
	width:665px; /* 20+665+20 = 705 */
	background-color:white; 
	padding:20px 20px 40px 20px; 
	min-height:34px; 
	z-index:101;/* was 12 in trumedical2 */
	} 
.popup_base h2 { font-size:12px; font-weight:bold; margin-top:10px; margin-bottom:5px;}
.popup_base p { margin-top:5px; margin-bottom:5px;}

#popup_modalities {top:0px;} 
#popup_clinicalSupplies {top:35px;}
#popup_tables {top:70px;}
#popup_fitness {top:105px;}
#popup_orthopedics {top:140px;}
#popup_taping {top:175px;}
#popup_evaluation {top:210px;}
#popup_dailyLiving {top:245px;}
#popup_lymphedema {top:280px;} 
#popup_woundCare {top:315px;}



#popup_trumedical {top:70px; background-color:#0094DE; color:white; padding-bottom:20px; }
#popup_patients {top:70px; background-color:orange; padding-bottom:20px;} 
#popup_providers {top:70px; background-color:orange; padding-bottom:20px;}
#popup_payors {top:70px; background-color:orange;}
#popup_bottom_pad {min-height:40px; padding-bottom:20px;}

div.subcategories { }
div.subcategory {width: 120px; margin-right:10px; margin-bottom:10px; float:left; height:120px;
	background-color:#E6E6E6;}
div.subcategoryName { padding:86px 2px 4px 2px;text-align:center;} /* padding: within div.subcategory */
div.subcategory { border: 1px solid gainsboro;} 
div.subcategory a:hover { color:white; padding:} 

