#popupsContainer { 
	position: absolute; 
	top:40px; left:260px; /* was 230: was 270 in tm3ror_bad; 15 +235 + 5 */
	width: 700px;			
	z-index:100; /* black_screen (trumedical_base.css) is z-index 98; menu (menu.css) is 99 */
}		
.popup_base { 
	position:absolute; /* within popupsContainer */ 
	top:79px; /* the default: used by trumedical, patients, providers, payors */
	left: 0px; 
	width:665px; /* 20+665+20 = 705 */
	background-color:white; 
	padding:20px 20px 40px 20px; 
	min-height:34px; 
	z-index:101;/* was 12 in trumedical2 */
	} 
.popup_base h2 { font-size:12px; font-weight:bold; margin-top:10px; margin-bottom:5px;}
.popup_base p { margin-top:5px; margin-bottom:5px;}
#popup_modalities {top:-25px;}
#popup_clinicalSupplies {top:9px;}
#popup_tables {top:44px;}
#popup_fitness {top:79px;}
#popup_orthopedics {top:114px;}
#popup_taping {top:150px;}
#popup_evaluation {top:184px;}
#popup_dailyLiving {top:220px;}
#popup_lymphedema {top:254px;} 
#popup_woundCare {top:290px;}

/* to align the following popups with the top of their button in the left nav use:
	#popup_trumedical top:342  height: 355 overflow:scroll
	#popup_patients	top:330 	height: 310
	#popup_providers	top:394	height: 300
	#popup_payors		top:430  height: 240
*/
/* consider lining them up with the bottom of their corresponding button */

#popup_trumedical {top:79px; background-color:#0094DE; color:white; padding-bottom:20px; }
#popup_patients {top:79px; background-color:orange; padding-bottom:20px;} 
#popup_providers {top:79px; background-color:orange; padding-bottom:20px;}
#popup_payors {top:79px; background-color:orange;}
#popup_bottom_pad {min-height:40px; padding-bottom:20px;}

div.subcategories { }
div.subcategory {width: 120px; margin-right:10px; margin-bottom:10px; float:left; height:120px;
	background-color:#E6E6E6;}
div.subcategoryName { padding:5px;margin:0;text-align:center;}
div.subcategory { border: 1px solid gainsboro; }
div.subcategory a:hover { color:white;}

