/** Shopfinder **/
	#shopfinder .sf_location {
		margin: 0px 0px 0px 0px;
		padding: 0px;
	}
	
	#shopfinder #basicForm
	{
		padding: 20px 0px 7px 0px;
		
	}

	#shopfinder #sf_location input,
	#shopfinder #sf_location select {
		border: 1px solid #7d7d7d;
	}

	#shopfinder #sf_location input {
		color: #7d7d7d;
	}

	#shopfinder #sf_location label {
		display: none;
	}
	
	#shopfinder #addressInput
	{
		border: 1px solid #7d7d7d;
		color: #7d7d7d;
		width: 340px;
		height: 20px;
		margin-right:3px;
		float:left;
		padding: 0px 3px 0px 3px;
	}
	
	#select_radius
	{
		float:left;
		height:20px;
		overflow:show;
		
	}

	#shopfinder #select_radius #selected_radius {
		
		font-size:12px;
		border: 1px solid #7d7d7d;
		background: url("images/select_arrow.gif") no-repeat right center #FFFFFF;
		padding-left:4px;
		padding-right:17px;
		padding-top: 2px;
		width: 46px;
		height: 18px;
		font-weight: bold;
		margin-right:3px;
		
		cursor: hand;
		cursor: pointer;
	}
	
	#shopfinder #searchButton
	{
		background: #000000;
		color: #ffffff;
		font-weight: bold;
		border: none;
		
		line-height: 14px;
		margin:0px;
		padding: 4px 0px 4px 0px;
		text-transform: uppercase;
		font-size: 10px;
		width: 30px;
		text-align:center;
		float:left;
	}
	
	#shopfinder #list_select_radius 
	{
		position: absolute;
		list-style: none;
		margin: -1px 0px 0px 0px;
		padding: 0px;
		background: #ffffff;
		z-index: 2;
		width: 62px;
		border: 1px solid #7d7d7d;
		display: none;
	
	}
	
	#shopfinder #list_select_radius li
	{

		height:20px;
		list-style: none outside;
		padding: 0px 3px 0px 3px;
		z-index:10 !important;
		background: #ffffff;
	}
	
	.ui-autocomplete
	{
		background: #ffffff;
		border: 1px solid #7d7d7d;
		width: 340px;
		z-index: 3 !important;
		list-style: none;
		margin: 0px;
		padding: 0px 3px 0px 3px;
	}
	.ui-autocomplete li
	{
		cursor: hand;
		cursor: pointer;
				list-style: none;
		margin: 0px;
		padding: 0px;
	}
	
	

	#shopfinder #sf_location #edit-distance-postal-code-wrapper,
	#shopfinder #sf_location #edit-distance-country-wrapper,
	#shopfinder #sf_location #edit-distance-search-distance-wrapper,
	#shopfinder #sf_location #edit-distance-search-units-wrapper {
		display: inline;
	}

	#shopfinder #sf_location #edit-submit-shopfinder
	{
		cursor: hand;
		cursor: pointer;
		background: #000000;
		color: #ffffff;
		font-weight: bold;
		border: none;
		line-height: 20px;
		margin:0px;
		padding: 0px;/* 3px 0px 3px;*/
		width: 30px;
		text-transform: uppercase;
		font-size: 10px;
	}
	


	#shopfinder #sf_location #edit-submit-shopfinder.hover
	{
		background: #ffe500;
		color: #000000;
	}
	#shopfinder #searchButton:hover
	{
		background: #ffe500;
		color: #000000;
	}

	#shopfinder #moreoptions {
		position: relative;
		margin:0px;
		padding:0px;
		border-top:1px solid #7d7d7d;
		text-align:right;
		top:-1px;
		width:100%;
		height:20px;
		z-index:2;
	}

	#shopfinder #moreoptions a {
		float:right;
		margin-top:-1px;
		margin-right:0px;
		background-color: #000000;
		background-image: url(images/filters.gif);
		background-repeat: no-repeat;
	}

	#shopfinder #moreoptions a:hover {
		background-color: #ffe500;
		background-image: url(images/filters_hover.gif);
		background-repeat: no-repeat;
	}

	#shopfinder #options {
		background: #fafafa;
		border-bottom:1px solid #7d7d7d;
		display: none;
		width:100%;
		position:relative;
		top: -21px;
		z-index:1;
		font-size: 11px;
	}

	#shopfinder #options #optionleft {
		margin: 30px 0px 15px 0px;
		padding: 0px;
		float: left;
		width:50%;
		border-right:1px solid #d6d6d6;

	}

	#shopfinder #options #optionright {
		float: left;
		width:49%;
		margin: 30px 0px 15px 0px;
		padding: 0px;

	}

	#shopfinder #options .optionblock {
		padding: 9px 13px 9px 13px;
	}

	#shopfinder #options .optionblock .title {
		font-weight: bold;
		cursor: hand;
		cursor: pointer;

	}

	#shopfinder #options .optionblock .title div.bullet {
		width:11px;
		line-height: 22px;
		margin:0px;
		margin: 0px 7px 0px 0px;
		float:left;
	}

	#shopfinder #options .optionblock .title div.label {

		line-height: 22px;
		margin:0px;
		margin: 0px 0px 0px 0px;
		float:left;
	}

	#shopfinder #options .optionblock .title div.bullet.checkbox {
		background: url(images/checkbox_on_off.gif);
		background-repeat: no-repeat;
		background-position: -11px 6px;
	}
	#shopfinder #options .optionblock .title div.bullet.checked {
		background-position: 0px 6px;
	}

	#shopfinder #options .optionblock .text {
		padding:0px 0px 0px 18px;
	}

	#shopfinder #options .optionblock .field {
		display:none;
	}

	#shopfinder #spacer1 {
		height: 10px;
	}

	#shopfinder #map
	{
		margin-top: 15px;
		/* margin-bottom: 15px; */
		width:711px; 
		height:460px
	}
	
	#sf_caroussel #scroller_button_right,
	#sf_caroussel #scroller_button_left {
		display: block;
		float:left;
		cursor:hand;
		cursor:pointer;
		height: 135px;
		width: 20px;
	}
	
	#scroller_button_left {
		/* margin-left:5px; */
	}


	#sf_caroussel #sf_wrapper {
		overflow:hidden;
		float:left;
		width: 669px;
		position:relative;
	}

	#sf_caroussel #sf_wrapper #shopresults {
		position:relative;
		margin-left:0px;
		overflow:hidden;
		height:120px;
		width: 20000em;
	}

	#sf_caroussel #sf_wrapper #shopresults .shopitem {
		float:left;
		width:209px;
		margin: 0px 7px 0px 7px;
		cursor: hand;
		cursor: pointer;
	}

	#sf_caroussel #sf_wrapper #shopresults .shopitem .title {
		background: #ffe500;
		padding: 5px 10px 5px 10px;
		font-weight: bold;
		font-size: 11px;
	}
	
	#sf_caroussel #sf_wrapper #shopresults .shopitem .body {
		font-size: 11px;
		padding-top: 10px;
		padding-left: 10px;
		text-transform: uppercase;
	}
	
	#sf_caroussel .noresult
	{
		color: #ff0000;
		font-weight: bold;
		text-align:center;
		width: 700px;
	}
	#sf_legend {
		position: relative;
		top:380px;
		left: 8px;
		padding: 0px 55px 0px 4px;
		width: 150px;
		background: #ffffff;
		font-weight: bold;
		z-index:300;
		line-height: 21px;
	}

	#sf_legend img {
		position:relative;
		top: 1px;
	}

	/*hidde, gmnoprint elements for infowindow*/
	.gmap-processed div div div .gmnoprint div {
		display: none;
	}

	/*display inside the infowindow*/
	.gmap-processed div div .gmnoprint div.gmnoprint,
	.gmap-processed div div .gmnoprint div.gmnoprint div {
		display: block;
	}

	.gmap-popup {
	padding-top:50px;
		margin:0px;
		padding:0px;
	}

	div.sf_infowindow {

		position:relative;
		top: 90px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

	}

	div.sf_infowindow_border {
		border-right:2px solid #6d6d6d;
		border-bottom: 2px solid #6d6d6d;
		background:#ffffff;
		margin:0px;
		padding: 0px;
	}

	div.sf_infowindow .queue
	{
		position:relative;
		height:13px;
		max-height:13px;
		line-height:13px;
		font-size:13px;
		margin:-3px 0px 0px 58px;
	}

	div.sf_infowindow .queue img
	{
		margin:0px;
		padding:0px;
		border: none;
	}

	.sf_infowindow .title {
		font-weight: bold;
		background: #ffe500;
		padding: 5px 10px 5px 10px;
	}

	.sf_infowindow .body {
		padding: 5px 10px 5px 10px;
	}

	#shopfinder .infoBox
	{
		background: white;
		position:absolute;
		padding: 0px;
		border-right:2px solid #6d6d6d;
		border-bottom: 2px solid #6d6d6d;
	}
	#shopfinder .textmarker
	{
		background: #ffe500;
		position:absolute;
		padding: 0px 3px;
		font-size: 9px;
		display: block;
		text-align:center;
	}
	
	#shopfinder .infoBox .closeImg
	{
		position: absolute;
		right: 0px;
		top: 0px;
		background: url(images/black_cross_gmap.gif) no-repeat center center;
		width: 20px;
		height: 28px;
		cursor: hand;
		cursor: pointer;
	}
	
	#shopfinder .infoBox h2
	{
		margin: 0px;
		padding: 5px 10px 5px 10px;
		background-color: #ffe500;
		font-size: 11px;
	}
	
	#shopfinder .infoBox .infoBoxContent
	{
		padding: 10px 10px 0px 10px;
		font-size: 11px;
	}
	
	#shopfinder .infoBox .infoBoxContent .getdirection
	{
		font-size: 11px;
		border: none;
		padding-left: 12px;
		background: url(images/more_info.gif) no-repeat 0px center ;
	}
	#shopfinder .infoBox .queueImg
	{
		position: absolute;
		bottom: -3px;
		right: 240px;
	}
	
	#shopfinder #legend
	{
		position: relative;
		top: -55px;
		left: 8px;
		height: 21px;
		background: white;
		width: 165px;
		line-height: 21px;
		padding: 0px 0px 0px 4px;
		font-weight: bold;
		font-size: 11px;
	}
	#shopfinder #legend img
	{
		top: 1px;
		position:relative;
		margin-right: 3px;
	}
	
	body .sf_jplink
	{
		text-align:center;
		padding: 25px;
	}

	body .sf_jplink a:hover
	{
		color:red;
	}
