/* CSS Document 

   Orignally created 6/16/2010.
   Modified 6/23/2011 for use in TruMedical design study #2

*/

/* ———— reset css styles all browsers ———————————————————————————— */

/* ———— page layout: major divs  —————————————————————————————————— */

#container {
	z-index: 2;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%; /* TA: freeze at 1052px to force right_column under left nav? ? */
	margin:0px;
	padding: 0px;
	}
	#subcontainer {
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		padding-bottom: 25px;
		width: 1060px; /* was 977: why?  contains stuff in main? */
		}

#container.home {
	overflow: hidden;/*	noscrollbar for homepage*/
	z-index: 3;
	}
	#subcontainer.home { 
		position:absolute;
		left:0px; /* if put 15px in here it is added to the 15px on subcontainer */
		top:0px;
		z-index:11; /* allow it to float above the scrolling images at z-index 10 below it */
		width: 265px; /* controls width of menu on left ( BUT NOT how far left the slides start — they should slide UNDER the menu in the subcontainer ) */
		}
			
		
#right_content_container,
#home_right_content_container {
	margin-top: 35px; /* to line up top of td within table within right_content_container with line under breadcrumb */
	float: left;
	}
#home_right_content_container {
	margin-top: 0px;
	}
	
	#right_content,
	#home_right_content {
		height: 308px;
		width: 238px;
		font-size: 11px;
		margin-top: 14px;
		overflow: hidden;
		}
	#home_right_content {
		position: relative;
		z-index: 30;
		margin-top: 2px;
	}

	#main_content {
		width: 711px; /* narrower than the 800 px images in the home page scroller.  Problem? */
		background: #ffffff;
		float: left;
		margin-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}	

	/* scrolling overlay Ñ scrolling from right in home page? or up/down in LLC, Product? */ 
	#black_screen {
		background: black;
		z-index: 99; /* just below popups-container at z-index of 100 */
		position: absolute;
		top: 0px;				
		left: 0px;
		margin: 0px;
		padding: 0px;
		display:none;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
		
	#cart_links {  
		position:fixed;
		top:30px;
		right:30px; /* rightmost 15px of offset disappears when get scroll bar on window; made it 30? */
		/* reposition it relative to #container; and/or put them horizontal above image scroll buttons on home */
		z-index:99;	/* above images scrolling in  */
		}
		
	#footer {
		min-height: 36px;
		min-width: 500px;
		width: 100%;
		background: SlateGray;
		z-index:1000;
		position: fixed; bottom:0; left:0;
		}

/* ———— generic styles (may be overridden later in this file)  ———— */

	body{
		padding: 0;
		margin: 0;
		font-family: Tahoma, helvetica, arial ;
		font-size: 12px;
		line-height: 17px;
		overflow:hidden;
		}
	a { outline: none;text-decoration: none;color: #000000;}
	
/* ———— within header links  ———————————————————————————————————————————— */

	#cart_links ul {list-style-type:none;}
	#cart_links ul li { margin-left:10px; text-align:right; margin-bottom:5px;  }
	#cart_links ul li a {color:orange;font-weight:bold;font-size:11px; }
	#cart_links ul li a:hover {color:gray;}

/* ———— within footer ————————————————————————————————————————————— */


	#footer.home_footer {
		position:relative;
		z-index: 1000;
		}
	#footer .left {
		padding-top: 7px;
		float: left;
		font-size: 12px;
		margin-left: 11px;
		}
			#footer .left a {
		  color: white; /* white on SlateGray background */
		  text-decoration: none;
		  margin-right: 13px;
		  margin-left: 0;
		  margin-bottom: 10px;
		}
		#footer .left img {
		  vertical-align: middle;
		  padding-bottom: 4px;
		}

		#footer .left a:hover {
			color: white; /* was #ff0000 on light gray original */
			font-weight:bold; /* added */
			text-decoration: none;
		}

		#footer .right {
			float: right;
			margin-right: 7px;
			padding-top: 7px;
		}

		#footer .right select {
			background: white;
			font-size: 12px;
			width: 150px;
		}

		/*  not working: image not present.  Drop? */
		#footer .left a,
		#footer .left span {
			padding-left: 8px;
			background: transparent url("images/footer_triange.gif") no-repeat 0 60% scroll; /* --- IMAGE ----------------  */
			white-space: nowrap;
		}


/* ———— within left ————————————————————————————————————————————————*/

	/*  see separate css file:  menu.css  */ 
	

/* ———— within main-content ——————————————————————————————————————— */
	
	#main_content h1{font-size: 21px;}
	/* #main_content a:hover {text-decoration: none;color: #ff0000; border: none;} */
	#main_content .color0 { background: none;}
	#main_content .color1 { background: #fafafa;}
	#main_content .italic { font-style: italic;}
	#main_content .bold { font-weight: bold;}

	/* used for? puce.gif? -- */
	#main_content span.bold {
		background: url('images/puce.gif') no-repeat; /* --- IMAGE ----------------  */
		background-position: 0px 6px;
		padding-left: 8px;
	}
	
	/* ———— #main_content .box —————————————— */

	#main_content .box { clear: left;}
	#main_content .box h2 { display: none;}
	#main_content .box dt { margin: 0; padding: 0;}
	#main_content .box dd { margin-left: 0; margin-bottom: 16px;}
	#main_content .box dd p { margin: 2px 0 0 0;}
	#main_content .box dd p.url { margin: 0;font-size:80%;}
	#main_content .box dl.search-results dt.title { font-weight: bold;}

	#main_content .box div.item-list {
		background-image: url("images/bg_tabs.gif"); /* --- IMAGE ----------------  */
		background-position: 0px -29px;
	}

	/* ———— #main_content ul.pager —————————————— */
	
	#main_content .box ul.pager {
		text-align: center;
		padding: 0;
		margin-top: 0;
		margin-left:0px;
	}

	#main_content .box ul.pager li {display: inline;padding: 0 3px;}
	#main_content .box ul.pager li.pager-previous {display: block;float: left;padding-left: 0;margin-left: 0px;}
	#main_content .box ul.pager li.pager-current {font-weight: bold;}
	#main_content .box ul.pager li.pager-next {display: block;float: right;padding-right: 0;}
	#main_content .box ul.pager li.pager-first,
	#main_content .box ul.pager li.pager-last {display: none;}
	#main_content .box .search-results {padding-bottom: 20px;}
	#main_content .box .content {padding-bottom: 25px;}
	#main_content .search-form-test .container-inline {font-weight: bold;}
	#main_content .search-form-test #edit-keys {
		border: 1px solid #7d7d7d;
		width: 215px;
		font-family: tahoma;
		padding: 4px;
		font-weight: bold;
		font-size: 12px;
	}

	#main_content .search-form-test #edit-submit {
		border: none;
		background: #000000;
		color: #ffffff;
		font-weight: bold;
		font-size: 10px;
		font-family: tahoma;
		margin:0px 5px 0px 0px;
		padding: 3px 3px 3px 3px;

		text-transform: uppercase;

		cursor: hand;
		cursor: pointer;
	}

	#main_content .search-form-test #edit-submit:hover {
		background: #ffe500;
		color: #000000;
	}
	
	
	
/* ———— within content_right —————————————————————————————————————— */

	#right_content p,
	#home_right_content p {
		line-height: 13px;
	}

	#right_content p.title,
	#home_right_content p.title {
		padding:0px;
		margin:0px;
		font-weight: bold;
		font-size: 16px;
		text-transform: lowercase;
	}

	#right_content p.content
	#home_right_content p.content {
		font-size: 11px;
		line-height: 13px;
	}

	#right_content .flash_content {
		margin-left: 5px;
	}

	#right_content.small_size #player {
		margin-left: 0px;
	}

	#right_content #player {
		margin-left: 5px;
	}

	#home_right_content .flash_content {
		height: 132px;
	}

	#right_content .link,
	#home_right_content .link {
		background: url('images/bg_right_content_yellow.gif')  no-repeat;  /* --- IMAGE ----------------  */
		height: 83px;
		margin: 2px 0;
		padding: 0 0 0 5px;
		cursor: pointer;
		display: block;
		text-decoration: none;
	}
	#right_content.small_size .link,
	#home_right_content.small_size .link {
		padding: 0;
	}

	#home_right_content .link {
		background: none;
		padding-left: 0px;
	}

	#right_content .link img,
	#home_right_content .link img {
		text-decoration: none;
		border: none;
		float:left;
	}

	#right_content a.link:hover,
	#home_right_content a.link:hover {
		background: url('images/bg_right_content_white.gif')  no-repeat !important; /* --- IMAGE ----------------  */
		cursor: pointer;
	}

	#right_content a.link:hover .text,
	#home_right_content a.link:hover .text
	{
		background: #fff !important;
	}

	#right_content .link .text,
	#home_right_content .link .text {
		padding: 8px;
		margin: 0;
		width: 100px;
		float: left;
		background: orange;  /* once set to green to see where it was */
		height: 67px;
		
	}
	#right_content p.content,
	#home_right_content p.content {
		overflow:hidden;
	}
	html>body #right_content .link .text {
		margin-left: 0; /* ie6 floating double margin bug !! */
	}

	#right_content.small_size {
		width: 233px !important;
		float: none !important;
		top: 0px;
		margin-top: 20px !important;
	}

	#right_content.small_size .flash_content {
		margin-left: 0px;
	}

	#right_content.small_size .link .text {
	  width: 100px !important;
	  margin-left: 0px !important;
	}
	

/* ———— within logo_container  ———————————————————————————————————— */

	#logo_container,
	#home_logo_container {
		position: relative;
		left:20px; /* see js */
		z-index: 3;
		top:10px; /* see js */
		display:none;	/* hack to defeat the dynamic placement of logomark using this div 
								until I figure it out */
	}
	
	#logo_container{
		z-index:10; /* pour passer en dessous du footer et au dessus du background */
		width: 400px; /* vs 168 */
	}

	#logo,
	#home_logo {
		width: 400px; 
		height: 102px;
		background: url('./images/logo.png');   /* --- IMAGE:  Odd pathname? relative to /stylesheets ?  ---------  */
		display: block;
	}

/* ———— misc clearing styles  ————————————————————————————————————— */	
			
	.visible {visibility:visible;}
	*:focus { outline:0;} /* to get rid of blue focus box (in Safari) on accordian */
	.clearfix { clear:both; display:block;}
	.clear { clear: both; visibility: hidden;}
	.clear-both {clear: both;height:0;line-height:0;float:none;}
				
			
/* ———— nlsubmit   <?> —————————————————————————————————————— */	

	/* Originally used for a 'Sign Up for Newsletter option; 
	   Recast it more thoroughly for 'Competitor Part Number' form */
	#nlsubmit {
	float: left;
	margin: -2px 20px 0 0;
	padding:0;
	height: 25px;
	}
    body:not(:-moz-handler-blocked) #nlsubmit { margin: 0 20px 0 0; }
	body:not(:-moz-handler-blocked) #nlsubmit a{ margin-top: 1px;}
	#nlsubmit a{
	display: block;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	}
	
	#nlsubmit input::-moz-focus-inner {/*Remove button padding in FF*/
	border: 1px solid white;
    padding: 0;
	}

	#nlsubmit input{
	color: black; /* was #555 */
	font-size: 12px;
	border: 2px solid white;
	background-color: white;
	}
	
	#nlsubmit .submitnl{
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 12px;
	}
	#nlsubmit .enternl{
	width: 116px;
	}

	div.whitebg {
	background-color: white;
	float: left;
	}
	#nlfirstvisit {
	display: none;
	z-index:900;
	position: absolute;
	min-width: 216px;
	width:233px;
	left: 15px;
	background: transparent url("images/nl_arrow.gif") no-repeat 10px 80px; /* --- IMAGE ----------------  */
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	}

	p.nlfirstvisit {
	display: block;
	background-color: orange;
	padding: 6px;
	vertical-align:top;
	}
	p.nlfirstvisit cufon{
	margin-top: 2px;
	}


/* ———— a.filters ( to search.css? )   ————————————————————————————— */

	a.filters {
		display: block;
		float: right;
        background-image: url('images/filters.gif'); /* --- IMAGE ----------------  */
        margin-right: 0px;
	}

	a.filters:hover {
	   background-image: url('images/filters_hover.gif');; /* --- IMAGE ----------------  */
	} 

	a.filters img {
		vertical-align: middle;
		border: 0px;
	}

/* ———— Bread crumbs  —————————————————————————————————————————————— */	

	#breadcrumb {
		padding-left: 7px;
		padding-bottom: 6px;
		padding-top: 11px;
		border-bottom: 1px solid #7d7d7d;
		height: 18px;
	}

	#breadcrumb a {
		color: #000;
		text-decoration: none;
	}

	#breadcrumb a:hover {
		text-decoration: none;
		color: orange!important;
	}

	#breadcrumb select {
		border: 1px solid #7d7d7d;
		background: white;
		font-size: 11px;

		z-index: 1;
		font-weight: bold;
	}

/* ———— Scrollable    —————————————————————————————————————————————— */

	.scrollable {
		position: relative;
		overflow: hidden;
		width: 305px;
		height: 180px;
	}

	.submenu_mavic .scrollable {
		height: 191px;
		width: 320px;
	}

	.scrollable .items {
		width: 20000em;
		position: absolute;
	}

	.items div.underitem {
		float: left;
		width: 305px;
		height: 180px;
	}
	.submenu_mavic .items div.underitem {
		width: 320px;
	}
	

/* ———— Page Gamme  ———————————————————————————————————————————————— */

/** PAGE GAMME **/
	#tabs_buttons_gamme {
		margin-top: 28px;
	}

/* ———— Content Gamme  ————————————————————————————————————————————— */

	#content_gamme_items {
		margin-top: 0px;
		padding-bottom: 23px;
	}

	#content_gamme_items .product_item {
		width: 169px;
		height: 228px;
		float: left;
		margin-right: 11px;
		cursor: pointer;
		margin-top: 15px;
	}

	#content_gamme_items .row {
		padding-bottom: 30px;
	}

	#content_gamme_items .last_row_item {
		margin-right: 0px;
	}

	#content_gamme_items .product_image {
		height: 179px;
	}

	#content_gamme_items .product_image img {
		margin: 0px 0px 0px 0px;
		padding: 0px;
	}

	#content_gamme_items .product_item .name {
		width: 169px;
		padding: 7px 0px 0px 0px;
		border-top: 1px solid #7d7d7d;
		height: 45px;
		font-size: 11px;
		margin-top: 0px;
	}

	#content_gamme_items .product_item .name a img {
		float: left;
		margin-right: 6px;
		margin-left: 0px;
		margin-bottom:30px;
		border: none;
	}

	#content_gamme_items .product_item .name a {
		margin: 0px;
		padding-left: 6px;
		padding-top: 1px;
		font-size: 15px;
		line-height: 17px;
		color: black;
		text-decoration: none;
		float:left;
		display:block;
		height: 40px;
	}

	#content_gamme_items .product_item .name a:hover {
		color: black;
	}

	#content_gamme_items .product_item .active {
		background: orange;
		border-top: 1px solid #000;
	}

	#content_gamme_items .select_to_compare {
		font-size: 10px;
		width: 162px;
		height: 21px;
		background: orange;
		position: relative;
		padding-left: 7px;
		padding-top: 4px;
		margin-top: -25px;
        font-weight: bold;
        display:none;
	}

	#content_gamme_items .select_to_compare img {
		vertical-align: -1px;
		margin-right: 3px;
	}

	#content_gamme_items .hidder {
		display: block;
		position: relative;
		background: white;
		opacity: 0;
		height: 55px;
		width: 169px;
		top: -50px;
		margin: 0px;
		padding: 0px;
	}

	#content_gamme_items .lastpop {
	   margin-left: -250px;
	}

	#content_gamme_items .lastpop img.arrow {
		visibility: hidden;
	}

	#content_gamme_items .ssc_arrow {
		background: url('images/ssc_border.gif') left top repeat-y transparent; /* --- IMAGE ----------------  */
	}

	#content_gamme_items .ssc_arrow img {
		margin-top:7px;
	}


/* ———— altpop  ———————————————————————————————————————————————————— */
/* Of what? from within what div? */
	.altpop {
		position: absolute;
		display:none;
		top:0px;
		left:0px;
        background:white;
        border: 1px solid #d5d5d5;
		background: #fafafa;
		width: 233px;
		font-size: 11px;
        line-height: 13px;
		margin: 0px;
        padding: 10px;
	}

	.altpop .sscaltiumAltpop {
		margin-top: 5px;
		margin-bottom: 4px;
	}


/* ———— sscaltium   ———————————————————————————————————————————————— */

/** SSCALTIUM BLOCK **/
	#sscaltiumBlock {
		padding-top: 100px;
		margin-bottom: 15px;
		font-size: 11px;
		line-height: 13px;

	}

	#sscaltiumBlock .ssc,
	#sscaltiumBlock .altium {
		float:left;
		width: 334px;
		padding: 6px 8px 13px 8px;
		background: #fafafa;
		margin: 0px;
		margin-bottom: 15px;
	}

	#sscaltiumBlock .altium {
		margin-left: 10px;
	}

	#sscaltiumBlock .ssc .sscaltiumImage {
		float:left;
		width: 30px;
		height: 40px;
		margin-top: 3px;
	}

	#sscaltiumBlock .altium .sscaltiumImage {
		float:left;
		width: 54px;
		height: 40px;
		margin-top: 3px;

	}

	#sscaltiumBlock .ssc .sscaltiumContent {
		float:left;
		width: 284px;
		padding: 0px 0px 0px 10px;
		margin:0px;
	}

	#sscaltiumBlock .altium .sscaltiumContent {
		float:left;
		width: 260px;
		padding: 0px 0px 0px 10px;
		margin:0px;
	}


/* ———— Tableau assistance  ———————————————————————————————————————— */

	table.assistanceTab {
		border-collapse:collapse;
		width:710px;
		margin-bottom:50px;
		padding-left:6px;
	}
	table.assistanceTab th {
		font-weight:bold;
		text-align:left;
		padding-left:20px;
	}
	table.assistanceTab tr {
		height:28px;
	}

	table.assistanceTab td {
		padding-left:6px;
	}

	table.assistanceTab .odd {
		background-color:#F0F0F6;
	}
	table.assistanceTab .header {
		background-image: url(images/bg.gif);
		background-repeat: no-repeat;
		background-position: center left;
		cursor: pointer;
	}
	table.assistanceTab .headerSortUp {
		background-image: url(images/asc.gif);
		background-repeat: no-repeat;
	}
	table.assistanceTab .headerSortDown {
		background-image: url(images/desc.gif);
		background-repeat: no-repeat;
	}

/* ———— mega zoom ( to zoom.css? ) ————————————————————————————————— */

	#title_box_zoom p {
			font-weight: bold;
			height: 21px;
			text-decoration: none;
			font-size: 21px;
			margin-top:4px;
			padding: 5px 3px 5px 3px;
			display: block;
			color: #000000;
	}