/* CSS Document 

   Orignally created 6/16/2010.
   Modified 6/23/2011 for use in TruMedical design study #2

*/

/* ———— reset css styles all browsers ———————————————————————————— */

/* ———— page layout: major divs  —————————————————————————————————— */

#container {
	position:relative;
	z-index: 2;
	overflow-y: auto; 
	overflow-x: hidden;
	width: 1085px; /* TA: freeze at 1052px to force right_column under left nav? ? */
	margin:0px;
	padding: 0px;
	background-color: white;/* DEBUGGING */
	margin-left:auto; margin-right:auto;
	}
	#header { 
		height: 50px; 
		width:100%; 
		}
	
	#middleBand { position:relative;
		width:100%; 
		}
		
		#left_column {  /* contains the left menu ( and the block called 'right-content? ) */
			position:relative;
			float: left;
			margin-left: 15px;
			padding-bottom: 25px;
			width: 235px; 
			z-index:11; /* above scrolling images on home page in banner-rotator */
			background-color:white; /* DEBUGGING */
			}
		#left_column.home {
			position:absolute; /* so doesn't drop below middleBand */
			top:0px;
			left:0px;
			z-index: 11; /* above scrolling images on home page in div#banner_rotator */
			background-color:orange;
			}
		#center_column {
			width: 800px; /* 1060-235-20 */
			margin-left: 260px;
		 }
		#banner_rotator { /* for scrolling background images on home page */
	 		z-index: 9; } /* below black_screen at z-index 10 and left_column at z-index 11; */
	
	#footer { position:relative; 
		width: 100%;
		height: 36px; /* div was showing as 514px high if used min-height: don't know why */
		background: black; /* was SlateGray */
		z-index:1000;
		clear: both; /* force footer below things in middleBand. Necessary?  */
		display:block;  /* what for? part of the standard 'clearfix'  */
		}	

/* ————— stuff within left_column ———————————————————————————————————— */	
	
#featuredProducts_container {
	margin-top: 20px; 
	float: left;
	margin-left:15px;
	}
#home_featuredProducts_container {
	margin-top: 10px;
	float:left;
	}
	
	#featuredProducts,
	#home_featuredProducts {
		height: 200px;
		width: 238px;
		font-size: 11px;
		margin-top: 14px;
		overflow: hidden;
		}
	#home_featuredProducts {
		position: relative;
		z-index: 30;
		margin-top: 2px;
	}

	#black_screen {
		background-color: black;
		z-index: 10; /* below popups-container at z-index of 12, and left menu at z-index 11 (#container #subcontainer).
		 					(Above scrolling images in #container at z-index 3? 
								problem with the 'More' buttons showing above the black_screen) 
							#popups_container is defined in home/index.html.erb 
							and also shared/_menu_popups.html.erb'  — as well as shared/_menu_popups_home.html.erb
						*/
		position: absolute;
		top: 0px;				
		left: 0px;
		margin: 0px;
		padding: 0px;
		display:none;
		opacity: 0.45;
		filter: alpha(opacity=45);
		height:850px; /* need to set this dynamically based on current height of window */
		width:1085px; /* fixed width, since container is now fixed width */
	}
	
	/* ————— styles for stuff in header: register/login; view-cart checkout ————— */
	
		div#headerLinks { } /* currently unused */
		div#register_login { position:relative; 
			float:right; 
			padding:5px 30px 5px 0px;
			z-index:98; 
			color:orange;font-size:12px;
			}
			#register_login ul { list-style-type:none;}
			#register_login ul li { display:inline; margin-left:10px;}
			#register_login a { color:orange; font-weight:bold; font-size:12px; }
			
		div#cart_links { position:relative; 
			float:right;
			margin-top:20px;
			margin-right:20px;
			} 
		div#cart_links a { font-size:12px!important; }

		
	#cart_links {  
		position:relative;
		margin-top:10px; margin-right:20px;
		z-index:99;	/* above images scrolling in  */
		}

		


/* ———— generic styles (may be overridden later in this file)  ———— */

	body{
		padding: 0;
		margin: 0;
		font-family: Tahoma, helvetica, arial ;
		font-size: 12px;
		line-height: 17px;
		background-color: gainsboro;
		/* overflow:hidden — if want to limit vertical height to laptop size */ 
		}
	a { outline: none;text-decoration: none;color: #000000;}
	
/* ———— within header links  ———————————————————————————————————————————— */

	#cart_links ul {list-style-type:none;}
	#cart_links ul li { margin-left:10px; text-align:right; margin-bottom:5px;  }
	#cart_links ul li a {color:orange;font-weight:bold;font-size:11px; }
	#cart_links ul li a:hover {color:gray;}

/* ———— within footer ————————————————————————————————————————————— */

	#footer_left {
		padding-top: 7px;
		font-size: 12px;
		margin-left:auto; margin-right:auto; /* Should center this div horizontally within #footer. Not doing so. Why? */
		margin-left: 140px; /* hand centered */
		}
		#footer_left img {
		  vertical-align: middle;
		  padding-bottom: 4px;
		}
		#footer_left a {
		  color: white; /* white on SlateGray background */
		  text-decoration: none;
		  margin-right: 13px;
		  margin-left: 0;
		  margin-bottom: 10px;
		}
		#footer_left a:hover {
			color: white; /* was #ff0000 on light gray original */
			font-weight:bold; 
			text-decoration: none;
		}

		
		#metasearch input#search_submit { color:orange; text-align:center; padding-right:10px; width:25px; font-size:9px; line-height:11px;} /* pad out Go */


/* ———— within left ————————————————————————————————————————————————*/

	/*  see separate css file:  menu.css  */ 
	
	
	
/* ———— within featuredProducts —————————————————————————————————————— */

	#featuredProducts p,
	#home_featuredProducts p {
		line-height: 13px;
	}

	#featuredProducts p.title,
	#home_featuredProducts p.title {
		padding:0px;
		margin:0px;
		font-weight: bold;
		font-size: 16px;
		text-transform: lowercase;
	}

	#featuredProducts p.content
	#home_featuredProducts p.content {
		font-size: 11px;
		line-height: 13px;
	}


	#featuredProducts .link,
	#home_featuredProducts .link {
		background: url('images/bg_right_content_yellow.gif')  no-repeat;  /* --- IMAGE ----------------  */
		height: 83px;
		margin: 2px 0;
		padding: 0 0 0 5px;
		cursor: pointer;
		display: block;
		text-decoration: none;
	}
	#featuredProducts.small_size .link,
	#home_featured_Products.small_size .link {
		padding: 0;
	}

	#home_featuredProducts .link {
		background: none;
		padding-left: 0px;
	}

	#featuredProducts .link img,
	#home_featuredProducts .link img {
		text-decoration: none;
		border: none;
		float:left;
	}

	#featuredProducts a.link:hover,
	#home_featuredProducts a.link:hover {
		background: url('images/bg_right_content_white.gif')  no-repeat !important; /* --- IMAGE ----------------  */
		cursor: pointer;
	}

	#featuredProducts a.link:hover .text,
	#home_featuredProducts a.link:hover .text
	{
		background: #fff !important;
	}

	#featuredProducts .link .text,
	#home_featuredProducts .link .text {
		padding: 8px;
		margin: 0;
		width: 100px;
		float: left;
		background: orange;  /* once set to green to see where it was */
		height: 67px;
		
	}
	#featuredProducts p.content,
	#home_featuredProducts p.content {
		overflow:hidden;
	}


	#featuredProducts.small_size {
		width: 233px !important;
		float: none !important;
		top: 0px;
		margin-top: 20px !important;
	}


	#featuredProducts.small_size .link .text {
	  width: 100px !important;
	  margin-left: 0px !important;
	}
	

/* ———— #logo  —————————————————————— */

	#logo {
		position: absolute; /* within #center_column on 4 product page templates */
		top:40px;
		right:-45px;
		height:80px;
		width:380px;
		z-index: 3;
		background-image: url("/images/logos/logo_on_white_315.png");
		background-repeat: no-repeat;
	}

 

/* ———— misc clearing styles  ————————————————————————————————————— */	
			
	.visible {visibility:visible;}
	*:focus { outline:0;} /* to get rid of blue focus box (in Safari) on accordian */
	.clearfix { clear:both; display:block;}
	.clear { clear: both; visibility: hidden;}
	.clear-both {clear: both;height:0;line-height:0;float:none;}
				
			
/* ———— nlsubmit   <?> —————————————————————————————————————— */	

	/* Originally used for a 'Sign Up for Newsletter option; 
	   Recast it more thoroughly for 'Competitor Part Number' form */
	#nlsubmit {
	float: left;
	margin: -2px 20px 0 0;
	padding:0;
	height: 25px;
	}
   body:not(:-moz-handler-blocked) #nlsubmit { margin: 0 20px 0 0; }
	body:not(:-moz-handler-blocked) #nlsubmit a{ margin-top: 1px;}
	#nlsubmit a{
	display: block;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	}
	
	#nlsubmit input::-moz-focus-inner {/*Remove button padding in FF*/
	border: 1px solid white;
    padding: 0;
	}

	#nlsubmit input{
	color: black; /* was #555 */
	font-size: 12px;
	border: 2px solid white;
	background-color: white;
	}
	
	#nlsubmit .submitnl{
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 12px;
	}
	#nlsubmit .enternl{
	width: 116px;
	}

	div.whitebg {
	background-color: white;
	float: left;
	}
	#nlfirstvisit {
	display: none;
	z-index:900;
	position: absolute;
	min-width: 216px;
	width:233px;
	left: 15px;
	background: transparent url("images/nl_arrow.gif") no-repeat 10px 80px; /* --- IMAGE ----------------  */
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	}

	p.nlfirstvisit {
	display: block;
	background-color: orange;
	padding: 6px;
	vertical-align:top;
	}
	p.nlfirstvisit cufon{
	margin-top: 2px;
	}



/* ———— Bread crumbs  —————————————————————————————————————————————— */	

	#breadcrumb {
		padding-left: 7px;
		padding-bottom: 6px;
		padding-top: 11px;
		border-bottom: 1px solid #7d7d7d;
		height: 18px;
	}

	#breadcrumb a {
		color: #000;
		text-decoration: none;
	}

	#breadcrumb a:hover {
		text-decoration: none;
		color: orange!important;
	}

	#breadcrumb select {
		border: 1px solid #7d7d7d;
		background: white;
		font-size: 11px;

		z-index: 1;
		font-weight: bold;
	}


	

/* ———— Page Gamme  ———————————————————————————————————————————————— */

/** PAGE GAMME **/
	#tabs_buttons_gamme {
		margin-top: 28px;
	}
