
/** VIDEO **/
	.view-video-page {
		margin-top: 30px;
		padding-bottom: 10px;
		display: table;
		font-size: 11px;
	}

	.video_item,
	.video_item_active {
		display: block;
		width: 160px;
		padding: 0 0 0 190px;
		margin: 0px 10px 15px 0px;
		float:left;
		height:100px;
		text-decoration: none;
		background:no-repeat 0 0;
	}
	.video_item_active a {
		cursor:default;
	}
	.video_item {
		cursor:pointer;
	}
	.view-video-page .odd0
	{
		margin-right: 0px;
	}
	.video_item_active {
		opacity: 0.3;
		filter : alpha(opacity=30);
	}
	#main_content .video_item_active a:hover,
	#main_content .video_item a:hover   {
		color: #000000;
	}

	.video_item .title,
	.video_item_active .title {
		height: 72px;
		display:block;
		width: 150px;
		float:left;
		padding-top: 7px;

		line-height: 13px;

	}

	.video_item .block,
	.video_item_active .block {
		height: 50px;
	}

	.video_item .duration,
	.video_item_active .duration {
		float:left;
		width: 150px;
		height: 20px;
	}

	#video_page h1
	{
		padding: 0px 10px 0px 10px;
	}

	#video_page #infosVideo
	{
		padding: 0px 10px 0px 10px;
		font-size: 11px;
		line-height:15px;
	}

	#video_page .duration
	{
		padding-left: 11px;
		text-transform: capitalize;
		font-size: 11px;
	}

/*specific style for content*/
	#playerMavicVideos{
          margin-top:14px;
          height: 400px;
	}

	#playerTechno {
		height: 308px;
	}

	.titreMavicVideo{
	          margin:0px;
	          padding:0px;
	          margin-top:21px;
	          margin-bottom:17px;//margin-bottom:13px;
	}

	#conteneurMavicVideo{
	          margin-left:0px;
	          width:472px;
	}

	#infosVideo{
	          margin-left:1px;
	          overflow:hidden;
	          font-size:11px;
	          line-height:15px;
	}

	#MoreInfosVideo{
	          margin: 0 0 10px 11px;
	          font-size:10px;
	          display:inline-block;
	          font-weight:bold;
	          background:url(/sites/default/themes/mavic/images/more_info.gif) no-repeat 0px 4px;
	}
