/* Specific Styles for Webform*/
.webform h1
{
	padding-left: 13px;
	padding-top: 8px;
}

.webform p
{
padding-left: 13px;
}
.webform .intro_newsletter{
padding-right:280px
}
.webform .webform-component-fieldset
{
	
	margin: 0px;
	padding: 0px;
	background: #f7f7f7;
	border: none;
	clear: both;
	padding-top: 13px;
	padding-bottom: 16px;
	margin: 0px;
	border-top: 16px solid white;
	border-bottom: 16px solid white;
}

.webform .form-required
{
	color: #e8272a;

}

.webform .errorMessage
{
	color: #e8272a;
	float: left;
	padding-left: 10px;
	line-height: 21px;
}
.webform .form-submit
{
	border: none;
	background: #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
	font-family: tahoma;
	margin: 10px 5px 20px 182px;
	padding: 5px 7px 5px 7px;

	text-transform: uppercase;

	cursor: hand;
	cursor: pointer;
}
.webform .form-submit:hover
{
	background: #ffe500;
	color: #000000;
	cursor: hand;
	cursor: pointer;
}
/*
.webform .customselect
{
	width: 211px;
	height: 21px;
	font-size: 12px;
	padding: 3px 0px 0px 8px;
	color: #808080;
}
*/
.webform ul.customselect-list 
{
	left: 183px;
	top: 26px;

}

.webform .form-text
{
	border: 1px solid #808080;
	width: 215px;
	height: 23px;
	line-height:23px;
	padding: 0 0 0 5px;
	float: left;
	font-size: 12px;
}

.webform .form-item 
{
	padding: 5px 0px 4px 0px;
	clear:both;
}
.webform .form-item .error
{
	border:1px solid red;
	color:red
}
.webform .form-item .form-checkboxes{
	border:0;
}
.webform .form-item label
{
	width: 170px;
	float:left;
	font-weight: bold;
	padding-left: 13px;
	padding-top: 3px;
}
.webform .form-item .form-radios
{
	height: 26px;
}

.webform .form-item .form-radios,
.webform .form-item .form-checkboxes
{
	float:left;

}
.webform .form-item .form-checkboxes
{
	width: 400px;
}
.webform .form-item .form-radios .form-item,
.webform .form-item .form-checkboxes .form-item
{
	padding: 0px;
	float:left;
	clear: none;
}
.webform .form-item .form-checkboxes .form-item
{
	width: 200px;
}

.webform .form-item .form-radios .form-item label,
.webform .form-item .form-checkboxes .form-item label
{
	white-space: nowrap;
	font-weight: normal;
	padding: 0px;
}

.webform .form-item .form-radios label,
.webform .form-item .form-checkboxes label
{
	display:inline;
	width:50px;
}

.webform .form-actions
{
	clear: both;
}

.webform .ez-checkbox , 
.webform .ez-radio 
{
		width:15px;
}

.webform #mandatory
{
	padding-bottom: 40px;
}

.webform #mandatory .mandatory
{
	font-weight: normal;
	font-size: 11px;
}

/*.webform #mandatory .form-required
{

	padding-right: 8px;
}*/

#webform-component-informations--accept label
{
	visibility: hidden;
}
#webform-component-informations--accept label.option
{
	visibility: visible;
}

#edit-submitted-language-display
{
	width: 120px;
}
#edit-submitted-language
{
	width: 128px;
}

#edit-submitted-title-firstname-lastname-country-postal-code
{
	width: 120px;
}
