<div id="menu">
	<div class="menu_main">
		<!-- menu item: MODALITIES ————————————————— -->
		<a class="level1 helvetica first" href="#" id="modalities">
			<img src="/images/menus/square_red_16x16.gif">&nbsp;Modalities</a>
		<div class="menu_separator"></div>

		<!-- menu item: CLINICAL SUPPLIES ————————————————— -->
		<a class="level1 helvetica" href="#" id="clinicalSupplies" >
			<img src="/images/menus/square_purple_16x16.gif">&nbsp;Clinic Supplies</a>
		<div class="menu_separator"></div>

		<!-- menu item: TABLES & TRACTION ————————————————— -->
		<a class="level1 helvetica" href="#" id="tables">
			<img src="/images/menus/square_blue_16x16.gif">&nbsp;Tables/Traction</a>
		<div class="menu_separator"></div>

		<!-- menu item: FITNESS ————————————————— -->
		<a class="level1 helvetica" href="#" id="fitness">
			<img src="/images/menus/square_orange_16x16.gif">&nbsp;Fitness</a>
		<div class="menu_separator"></div>

		<!-- menu item: ORTHOPEDICS ————————————————— -->
		<a class="level1 helvetica" href="#" id="orthopedics">
			<img src="/images/menus/square_teal_16x16.gif">&nbsp;Orthopedics</a>
		<div class="menu_separator"></div>

		<!-- menu item: ACT/TAPING ————————————————— -->
		<a class="level1 helvetica" href="#" id="taping">
			<img src="/images/menus/square_fuscia_16x16.gif">&nbsp;ATC/Taping</a>
		<div class="menu_separator"></div>

		<!-- menu item: EVALUATION ————————————————— -->
		<a class="level1 helvetica" href="#" id="evaluation">
			<img src="/images/menus/square_green_16x16.gif">&nbsp;Evaluation</a>
		<div class="menu_separator"></div>

		<!-- menu item: DAILY LIVING AIDS ————————————————— -->
		<a class="level1 helvetica" href="#" id="dailyLiving">
			<img src="/images/menus/square_rose_16x16.gif">&nbsp;Daily Living Aids</a>
		<div class="menu_separator"></div>

		<!-- menu item: LYMPHEDEMA  ————————————————— -->
		<a class="level1 helvetica" href="#" id="lymphedema" name="menu_51010">
			<img src="/images/menus/square_yellow_16x16.gif">&nbsp;Lymphedema</a>
		<div class="menu_separator"></div>

		<!-- menu item: WOUND CARE ————————————————— -->
		<a class="level1 helvetica" href="javascript:void(0);" id="woundCare">
			<img src="/images/menus/square_brown_16x16.gif">&nbsp;Wound Care</a>
		<div class="menu_separator"></div>

		<!-- menu item: Search Box ————————————————— -->

		<div id="cse-search-form" style="width: 100%;">Loading</div>
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript"> 
		  google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
			/* attempts to override the minimalist theme here don't work.
			   How do I get it to use my local copy of the css file minimalist.css? 
			$("div.gsc-clear-button").css("border","1px solid gray");
			$("div.gsc-clear-button").css("padding","5px 4px 5px 4px");
			$("div.gsc-clear-button").css("margin-left","2px");
			*/
		  google.setOnLoadCallback(function() {
		    var customSearchControl = new google.search.CustomSearchControl(
		      '000064363312609554513:jmpucuppl78');

		    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		    var options = new google.search.DrawOptions();
		    options.enableSearchboxOnly("http://");
		    customSearchControl.draw('cse-search-form', options);
		  }, true);
		</script>

		<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
		<style type="text/css">
		  input.gsc-input {
			border-color: #BCCDF0;
		  }
		  input.gsc-search-button {
			border-color: #ff9900;
			background-color: #ff9900;
		  }
		</style>
		<!-- original mavics code:
		<form id="search_form" action="/en/search/google_cse_adv" method="post" name="search_form">
		  <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
		  <script type="text/javascript">
		      google.load('search', '1');
		      google.setOnLoadCallback(function() {
		          google.search.CustomSearchControl.attachAutoCompletion(
		          '014338948727438158850:bsnpnwdxyvo',
		          document.getElementById('search_input'),
		          'search_form');
		      });
		  </script>
		  <div id="search_wrapper">
		      <h1 id="search_hint" class="helvetica">
		          search ...
		      </h1><input class="" id="search_input" type="text" name="keys" value="" maxlength="30" autocomplete="off">
		  </div><a class="submit" href="javascript:%20document.getElementById('search_form').submit();">OK</a> <input type="hidden" value="47064f86a9eb92a56d412fb061ca44a4" name="form_token"> <input type="hidden" value="search_form" id="edit-search-form" name="form_id">
		  <div class="clear" style=""></div>  
  
		</form>
		-->
		
	</div> <!-- end div 'menu_main' -->
		
</div> <!-- end div 'menu' -->


