<div id="menu">
	<div class="menu_main">

	<!-- menu item: MODALITIES ————————————————— -->
	<a class="level1 helvetica first" href="javascript:void(0);" id="menu_50821" name="menu_50821">Modalities</a>
	<div class="menu_separator"></div>
	<div id="submenu_50821" class="submenu" style="top:0px">
	  <div class="submenucontent">
	      <div class="row wheels">
	          <a class="link wheels" href="/en/product/wheels/track/wheels">
	              <img src="../images/menus/wheels_track.jpg" alt=""> <span class="helvetica">track</span></a> 
	          <a class="link wheels" href="/en/product/wheels/road-triathlon/wheels">
	              <img src="../images/menus/wheels_roadtriathlon.jpg" alt=""> <span class="helvetica">road &amp; triathlon</span></a> 
	          <a class="link wheels" href="/en/product/wheels/mountain-bike/wheels">
	              <img src="../images/menus/wheels_mountainbike.jpg" alt=""> <span class="helvetica">mountain bike</span></a> <a class="link noimg wheels" href="/en/node/168065/mid/50867"><span class="helvetica">accessories</span></a>
	          <div class="clear"></div>
	      </div>
	  </div>
	</div>

	<!-- menu item: CLINICAL SUPPLIES ————————————————— -->
	<a class="level1 helvetica" href="javascript:void(0);" id="menu_50883" name="menu_50883">Clinical Supplies</a>
	<div class="menu_separator"></div>
	<div id="submenu_50883" class="submenu" style="top:33px">
	  <div class="submenucontent">
	      <div class="row rims">
	          <a class="link rims" href="/en/product/rims/road-triathlon/rims">
	              <img src="../images/menus/rims_roadtriathlon.jpg" alt=""> <span class="helvetica">road &amp; triathlon</span></a> 
	          <a class="link rims" href="/en/product/rims/mountain-bike/rims">
	              <img src="../images/menus/rims_mountainbike.jpg" alt=""> <span class="helvetica">mountain bike</span></a>
	          <div class="clear"></div>
	      </div>
	  </div>
	</div>

	<!-- menu item: TABLES & TRACTION ————————————————— -->
	<a class="level1 helvetica" href="#">Tables/Traction</a>
	<div class="menu_separator"></div>

	<!-- menu item: FITNESS ————————————————— -->
	<a class="level1 helvetica" href="#">Fitness</a>
	<div class="menu_separator"></div>

	<!-- menu item: ORTHOPEDICS ————————————————— -->
	<a class="level1 helvetica" href="#">Orthopedics</a>
	<div class="menu_separator"></div>

	<!-- menu item: ACT/TAPING ————————————————— -->
	<a class="level1 helvetica" href="#">ATC/Taping</a>
	<div class="menu_separator"></div>

	<!-- menu item: EVALUATION ————————————————— -->
	<a class="level1 helvetica" href="#">Evaluation</a>
	<div class="menu_separator"></div>

	<!-- menu item: DAILY LIVING AIDS ————————————————— -->
	<a class="level1 helvetica" href="javascript:void(0);" id="menu_50968" name="menu_50968">Daily Living Aids</a>
	<div class="menu_separator"></div>
	<div id="submenu_50968" class="submenu" style="top:165px">
	  <div class="submenucontent">
	      <div class="row footwear">
	          <a class="link footwear" href="/en/product/footwear/triathlon/footwear">
	              <img src="../images/menus/footwear_triathlon.jpg" alt=""> <span class="helvetica">triathlon</span></a> 
	          <a class="link footwear" href="/en/product/footwear/road/footwear">
	              <img src="../images/menus/footwear_road.jpg" alt=""> <span class="helvetica">road</span></a> 
	          <a class="link footwear" href="/en/product/footwear/mountain-bike/footwear">
	              <img src="../images/menus/footwear_mountainbike.jpg" alt=""> <span class="helvetica">mountain bike</span></a>
	          <div class="clear"></div>
	      </div>
	  </div>
	</div>

	<!-- menu item: LYMPHEDEMA  ————————————————— -->
	<a class="level1 helvetica" href="javascript:void(0);" id="menu_51010" name="menu_51010">Lymphedema</a>
	<div class="menu_separator"></div>
	<div id="submenu_51010" class="submenu" style="top:198px">
	  <div class="submenucontent">
	      <div class="row apparel">
	          <a class="link apparel" href="/en/product/apparel/bottoms/men">
	              <img src="../images/menus/apparel_bottoms.jpg" alt=""> <span class="helvetica">bottoms</span></a> 
	          <a class="link apparel" href="/en/product/apparel/vests/jackets/men">
	              <img src="../images/menus/apparel_vestjacket.jpg" alt=""> <span class="helvetica">vests / jackets</span></a> 
	          <a class="link apparel" href="/en/product/apparel/jerseys/men">
	              <img src="../images/menus/apparel_jerseys.jpg" alt=""> <span class="helvetica">jerseys</span></a> 
	          <a class="link apparel" href="/en/product/apparel/underwear/undershort/apparel">
	              <img src="../images/menus/apparel_underwearundershort.jpg" alt=""> <span class="helvetica">underwear / undershort</span></a>
	          <div class="clear"></div>
	      </div>
	      <div class="row apparel">
	          <a class="link apparel" href="/en/product/apparel/gloves/apparel"><img src="../images/menus/apparel_gloves.jpg" alt=""> <span class="helvetica">gloves</span></a> 
	          <a class="link apparel" href="/en/product/apparel/headwear/warmers/apparel">
	              <img src="../images/menus/apparel_headwearwarmers.jpg" alt=""> <span class="helvetica">headwear / warmers</span></a> 
	          <a class="link apparel" href="/en/product/apparel/booties/socks/apparel">
	              <img src="../images/menus/apparel_bootiessocks.jpg" alt=""> <span class="helvetica">booties / socks</span></a>
	          <div class="clear"></div>
	      </div>
	  </div>
	</div>


	<!-- menu item: WOUND CARE ————————————————— -->
	<a class="level1 helvetica" href="javascript:void(0);" id="menu_51010" name="menu_51010">Wound Care</a>
	<div class="menu_separator"></div>
	<div id="submenu_51010" class="submenu" style="top:198px">
	  <div class="submenucontent">
	      <div class="row apparel">
	          <a class="link apparel" href="/en/product/apparel/bottoms/men">
	              <img src="../images/menus/apparel_bottoms.jpg" alt=""> <span class="helvetica">bottoms</span></a> 
	          <a class="link apparel" href="/en/product/apparel/vests/jackets/men">
	              <img src="../images/menus/apparel_vestjacket.jpg" alt=""> <span class="helvetica">vests / jackets</span></a> 
	          <a class="link apparel" href="/en/product/apparel/jerseys/men">
	              <img src="../images/menus/apparel_jerseys.jpg" alt=""> <span class="helvetica">jerseys</span></a> 
	          <a class="link apparel" href="/en/product/apparel/underwear/undershort/apparel">
	              <img src="../images/menus/apparel_underwearundershort.jpg" alt=""> <span class="helvetica">underwear / undershort</span></a>
	          <div class="clear"></div>
	      </div>
	      <div class="row apparel">
	          <a class="link apparel" href="/en/product/apparel/gloves/apparel"><img src="../images/menus/apparel_gloves.jpg" alt=""> <span class="helvetica">gloves</span></a> 
	          <a class="link apparel" href="/en/product/apparel/headwear/warmers/apparel">
	              <img src="../images/menus/apparel_headwearwarmers.jpg" alt=""> <span class="helvetica">headwear / warmers</span></a> 
	          <a class="link apparel" href="/en/product/apparel/booties/socks/apparel">
	              <img src="../images/menus/apparel_bootiessocks.jpg" alt=""> <span class="helvetica">booties / socks</span></a>
	          <div class="clear"></div>
	      </div>
	  </div>
	</div>

	<!-- menu item: Search Box ————————————————— -->
<!--
	<form id="search_form" action="/en/search/google_cse_adv" method="post" name="search_form">
	  <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
	  <script type="text/javascript">
	      google.load('search', '1');
	      google.setOnLoadCallback(function() {
	          google.search.CustomSearchControl.attachAutoCompletion(
	          '014338948727438158850:bsnpnwdxyvo',
	          document.getElementById('search_input'),
	          'search_form');
	      });
	  </script>
	  <div id="search_wrapper">
	      <h1 id="search_hint" class="helvetica">
	          search...
	      </h1><input class="" id="search_input" type="text" name="keys" value="" maxlength="30" autocomplete="off">
	  </div><a class="submit" href="javascript:%20document.getElementById('search_form').submit();">OK</a> <input type="hidden" value="47064f86a9eb92a56d412fb061ca44a4" name="form_token"> <input type="hidden" value="search_form" id="edit-search-form" name="form_id">
	  <div class="clear" style=""></div>
	</form>

	<div class="menu_separator"></div>
-->
	<!-- menu item: TRUMEDICAL ————————————————— -->
	<a class="level1 helvetica" href="javascript:void(0);" id="menu_MAVICItem" name="menu_MAVICItem" style="color:#0094DE!important;">TruMedical</a>
	<div class="menu_separator"></div>
	<div id="submenu_MAVICItem" class="submenu submenu_MAVICItem submenu_mavic" style="top:246px">
	  <div class="submenucontent2">
  
	      <div class="left">
	          <div class="level2">
	              <div onMouseOver="switch_menu_color_red('technologies')" onMouseOut="switch_menu_color_black('technologies')">
	                  <a id="technologies" class="helvetica" href="/en/technology/wheels/Exalith" name="technologies">Product Lines</a>
	                  <a id="technologies_red" class="helvetica menu_red" href="/en/technology/wheels/Exalith" name="technologies_red">Product Lines</a>
	              </div>
	          </div>
         
	          <div class="level2">
	              <span class="helvetica">Focus</span>
	              <div class="wraplevel3">
	                  <a class="level3" href="/en/athlete/road">Patients</a>
	                  <a class="level3" href="/en/assistance">Providers</a>
	                  <a class="level3" href="/en/assistance">Payors</a>
	              </div>
	              <div class="level3_separator"></div>
	          </div>
	          <div class="level2">
	              <div onMouseOver="switch_menu_color_red('retailers')" onMouseOut="switch_menu_color_black('retailers')">
	                  <a id="retailers" class="helvetica" href="/en/shopfinder" name="retailers">Products</a>
	                  <a id="retailers_red" class="helvetica menu_red" href="/en/shopfinder" name="retailers_red">Products</a>
	              </div>
	          </div>
	          <div class="level2">
	              <span class="helvetica">Company</span>
	              <div class="wraplevel3">
	                  <a class="level3" href="/en/who%20we%20are">Who we are?</a>
	                  <a class="level3" href="/en/history/1889/1934/Mavic-enters-on-stage">History</a>
	                  <a class="level3" href="/en/Mavic%20Service%20Center">Commitment </a>
	              </div>
	              <div class="level3_separator"></div>
	          </div>
	           <div class="level2">
	              <div onMouseOver="switch_menu_color_red('Mavic videos')" onMouseOut="switch_menu_color_black('Mavic videos')">
	                  <a id="Mavic videos" class="helvetica" href="/en/video/Mavic-Cervelo-partnership-starts-in-San-Diego" name="Mavic videos">TruMedical videos</a>
	                  <a id="Mavic videos_red" class="helvetica menu_red" href="/en/video/Mavic-Cervelo-partnership-starts-in-San-Diego" name="TruMedical videos_red">TruMedical videos</a>
	              </div>
	          </div>
	      </div>
      
	      <div class="right">
	          <!-- root element for scrollable -->
	          <div class="scrollable view-content">
	              <!-- root element for the items -->
	              <div class="items">
	                  <div class="underitem views-row views-row-1 views-row-odd views-row-first">
	                      <div id="blocknews" class="element">
	                          <img alt="Mavic riders on form in Tour tune-up" class="big" height="108" src="../images/farm/5853519882_9f0386c236_m.jpg">
	                          <p class="title">
	                              TruMedical-sponsored rider in Tennesse Tour
	                          </p><span class="news_date_menu">(19 June 2011)</span>
	                          <div class="clear"></div><a href="/en/news/road/Mavic-riders-on-form-in-Tour-tune-up" class="link" style="display:none">/en/news/road/Mavic-riders-on-form-in-Tour-tune-up</a>
	                      </div>
	                      <div class="complement">
	                          Philippe Gilbert (Omega Pharma-Lotto) preserved a slim lead going in to the final stage of the Ster ZLM Toer stage race in the Netherlands to claim the overall win. Just two weeks before the...
	                      </div>
	                  </div>
	                  <div class="underitem views-row views-row-2 views-row-even">
	                      <div id="blocknews" class="element">
	                          <img alt="Sprint success in Switzerland" class="big" height="108" src="../images/farm/5835557035_94269d74ee_m.jpg">
	                          <p class="title">
	                              Sprint success in Switzerland
	                          </p><span class="news_date_menu">(14 June 2011)</span>
	                          <div class="clear"></div><a href="/en/news/road/Sprint-success-in-Switzerland" class="link" style="display:none">/en/news/road/Sprint-success-in-Switzerland</a>
	                      </div>
	                      <div class="complement">
	                          After several stages in the mountains, stages three and four of the Tour de Suisse featured sprint finishes and Mavic riders came out on top. After riding in the early breakaway, Liquigas-Ca...
	                      </div>
	                  </div>
	                  <div class="underitem views-row views-row-3 views-row-odd">
	                      <div id="blocknews" class="element">
	                          <img alt="Breakthrough victory for van den Broeck" class="big" height="108" src="http://farm4.static.flickr.com/3035/5811416403_f6877ab588_m.jpg">
	                          <p class="title">
	                              Breakthrough victory for van den Broeck
	                          </p><span class="news_date_menu">(6 June 2011)</span>
	                          <div class="clear"></div><a href="/en/news/road/Breakthrough-victory-for-van-den-Broeck" class="link" style="display:none">/en/news/road/Breakthrough-victory-for-van-den-Broeck</a>
	                      </div>
	                      <div class="complement">
	                          Belgian rider Jurgen van den Broeck of the Omega Pharma-Lotto team scored the first professional win of his career in dramatic fashion, attacking on the uphill finish of the first stage in t...
	                      </div>
	                  </div>
	                  <div class="underitem views-row views-row-4 views-row-even views-row-last">
	                      <div id="blocknews" class="element">
	                          <img alt="Olivier Marceau wins Extreme-man 226" class="big" height="108" src="../images/farm/5811418343_b5206953b5_m.jpg">
	                          <p class="title">
	                              Olivier Marceau wins Extreme-man 226
	                          </p><span class="news_date_menu">(5 June 2011)</span>
	                          <div class="clear"></div><a href="/en/news/triathlon/Olivier-Marceau-wins-Extreme-man-226" class="link" style="display:none">/en/news/triathlon/Olivier-Marceau-wins-Extreme-man-226</a>
	                      </div>
	                      <div class="complement">
	                          With a time of 9 hours, 29 minutes and 4 seconds, triathlete Olivier Marceau won the Extreme-Man 226 event in Salou, Spain. This grueling race format features a 3.8km swim, 180km bike ride,...
	                      </div>
	                  </div>
	              </div>
	          </div>
	          <div class="buttons">
	              <div class="left_buttons">
	                  <img src="../images/more_info.gif" alt=""><a href="javascript:void(0)" class="moreinfos" id="menu_news_more" name="menu_news_more">More</a>
	              </div>
	              <div class="right_buttons">
	                  <a class="prev browse left disabled"><img src="../images/carousel_prev.gif" alt=""></a> <a class="next browse right"><img src="../images/carousel_next.gif" alt=""></a>
	              </div>
	              <div class="clear"></div>
	          </div>
	          <div>
	              <a href="/en/news/all-news">All news...</a>
	          </div>
	      </div>
	  </div>
	</div>
	
	<!-- menu item: PATIENTS ————————————————— -->
	<a class="level1B helvetica" href="#">Patients</a>
	<div class="menu_separator"></div>

	<!-- menu item: PROVIDERS ————————————————— -->
	<a class="level1B helvetica" href="#">Providers</a>
	<div class="menu_separator"></div>

	<!-- menu item: PAYORS ————————————————— -->
	<a class="level1B helvetica" href="#">Payors</a>




	</div>
</div> <!-- end div 'menu' -->