<div id="menu">
	<div class="menu_main">
		<!-- menu item: MODALITIES ————————————————— -->
		<a class="level1 helvetica first" href="#" id="modalities">
			<img src="/images/menus/square_red_16x16.gif">&nbsp;Modalities</a>
		<div class="menu_separator"></div>

		<!-- menu item: CLINICAL SUPPLIES ————————————————— -->
		<a class="level1 helvetica" href="#" id="clinicalSupplies" >
			<img src="/images/menus/square_purple_16x16.gif">&nbsp;Clinical Supplies</a>
		<div class="menu_separator"></div>

		<!-- menu item: TABLES & TRACTION ————————————————— -->
		<a class="level1 helvetica" href="#" id="tables">
			<img src="/images/menus/square_blue_16x16.gif">&nbsp;Tables/Traction</a>
		<div class="menu_separator"></div>

		<!-- menu item: FITNESS ————————————————— -->
		<a class="level1 helvetica" href="#" id="fitness">
			<img src="/images/menus/square_orange_16x16.gif">&nbsp;Fitness</a>
		<div class="menu_separator"></div>

		<!-- menu item: ORTHOPEDICS ————————————————— -->
		<a class="level1 helvetica" href="#" id="orthopedics">
			<img src="/images/menus/square_teal_16x16.gif">&nbsp;Orthopedics</a>
		<div class="menu_separator"></div>

		<!-- menu item: ACT/TAPING ————————————————— -->
		<a class="level1 helvetica" href="#" id="taping">
			<img src="/images/menus/square_fuscia_16x16.gif">&nbsp;ATC/Taping</a>
		<div class="menu_separator"></div>

		<!-- menu item: EVALUATION ————————————————— -->
		<a class="level1 helvetica" href="#" id="evaluation">
			<img src="/images/menus/square_green_16x16.gif">&nbsp;Evaluation</a>
		<div class="menu_separator"></div>

		<!-- menu item: DAILY LIVING AIDS ————————————————— -->
		<a class="level1 helvetica" href="#" id="dailyLiving">
			<img src="/images/menus/square_rose_16x16.gif">&nbsp;Daily Living Aids</a>
		<div class="menu_separator"></div>

		<!-- menu item: LYMPHEDEMA  ————————————————— -->
		<a class="level1 helvetica" href="#" id="lymphedema" name="menu_51010">
			<img src="/images/menus/square_yellow_16x16.gif">&nbsp;Lymphedema</a>
		<div class="menu_separator"></div>

		<!-- menu item: WOUND CARE ————————————————— -->
		<a class="level1 helvetica" href="javascript:void(0);" id="woundCare">
			<img src="/images/menus/square_brown_16x16.gif">&nbsp;Wound Care</a>
		<div class="menu_separator"></div>

		<!-- menu item: TRUMEDICAL ————————————————— -->
		<a class="level1 helvetica" href="#" id="trumedical"  style="color:#0094DE!important;">
			<img src="/images/menus/square_tmsblue_16x16.gif">&nbsp;TruMedical</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PATIENTS ————————————————— -->

		<a class="level1B helvetica" href="#" id="patients"  >
			<img src="/images/menus/square_gray_16x16.gif">&nbsp;Patients</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PROVIDERS ————————————————— -->
		<a class="level1B helvetica" href="#" id="providers">
			<img src="/images/menus/square_gray_16x16.gif">&nbsp;Providers</a>
		<div class="menu_separator"></div>
		<!-- popup which becomes visible when user clicks this menu item -->

		<!-- menu item: PAYORS ————————————————— -->
		<a class="level1B helvetica" href="#" id="payors">
			<img src="/images/menus/square_gray_16x16.gif">&nbsp;Payors</a>
		
	</div> <!-- end div 'menu_main' -->
		
</div> <!-- end div 'menu' -->


