<div id="menu">
	<div class="menu_main">
		<!-- menu item: MODALITIES ————————————————— -->
		<a class="level1 helvetica first" href="#" id="modalities">Modalities</a>
		<div class="menu_separator"></div>

		<!-- menu item: CLINICAL SUPPLIES ————————————————— -->
		<a class="level1 helvetica" href="#" id="clinicalSupplies" >Clinical Supplies</a>
		<div class="menu_separator"></div>

		<!-- menu item: TABLES & TRACTION ————————————————— -->
		<a class="level1 helvetica" href="#" id="tables">Tables/Traction</a>
		<div class="menu_separator"></div>

		<!-- menu item: FITNESS ————————————————— -->
		<a class="level1 helvetica" href="#" id="fitness">Fitness</a>
		<div class="menu_separator"></div>

		<!-- menu item: ORTHOPEDICS ————————————————— -->
		<a class="level1 helvetica" href="#" id="orthopedics">Orthopedics</a>
		<div class="menu_separator"></div>

		<!-- menu item: ACT/TAPING ————————————————— -->
		<a class="level1 helvetica" href="#" id="taping">ATC/Taping</a>
		<div class="menu_separator"></div>

		<!-- menu item: EVALUATION ————————————————— -->
		<a class="level1 helvetica" href="#" id="evaluation">Evaluation</a>
		<div class="menu_separator"></div>

		<!-- menu item: DAILY LIVING AIDS ————————————————— -->
		<a class="level1 helvetica" href="#" id="dailyLiving">Daily Living Aids</a>
		<div class="menu_separator"></div>

		<!-- menu item: LYMPHEDEMA  ————————————————— -->
		<a class="level1 helvetica" href="#" id="lymphedema">Lymphedema</a>
		<div class="menu_separator"></div>

		<!-- menu item: WOUND CARE ————————————————— -->
		<a class="level1 helvetica" href="javascript:void(0);" id="woundCare">Wound Care</a>
		<div class="menu_separator"></div>

		<!-- menu item: TRUMEDICAL ————————————————— -->
		<a class="level1 helvetica" href="#" id="trumedical" style="color:#0094DE!important;">TruMedical</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PATIENTS ————————————————— -->

		<a class="level1B helvetica" href="#" id="patients"  >Patients</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PROVIDERS ————————————————— -->
		<a class="level1B helvetica" href="#" id="providers">Providers</a>
		<div class="menu_separator"></div>

		<!-- menu item: PAYORS ————————————————— -->
		<a class="level1B helvetica" href="#" id="payors">Payors</a>
		
	</div> <!-- end div 'menu_main' -->
		
</div> <!-- end div 'menu' -->


