            <!-- Google search —————————————————————————————————— -->
						<!-- consider putting product search back on left in Category#display and Product#display
						<form id="search_form" action="/en/search/google_cse_adv" method="post" name="search_form">
							<script type="text/javascript" src="http://www.google.com/jsapi">
</script> <script type="text/javascript">
google.load('search', '1');
							google.setOnLoadCallback(function() {
							google.search.CustomSearchControl.attachAutoCompletion(
							'014338948727438158850:bsnpnwdxyvo',
							document.getElementById('search_input'),
							'search_form');
							});
							</script>
							<div id="search_wrapper">
								<h1 id="search_hint" class="helvetica">
									search...
								</h1><input class="" id="search_input" type="text" name="keys" value="" maxlength="30" autocomplete="off">
							</div><a class="submit" href="javascript:%20document.getElementById('search_form').submit();">OK</a> <input type="hidden" value="b336c5e5cff036b0dcddac1772beee93" name="form_token"> <input type="hidden" value="search_form" id="edit-search-form" name="form_id">
							<div class="clear" style=""></div>
						</form>
					-->