<div id="menu"> <!-- css defined where? -->
	<div class="menu_main"> <!-- css defined where? -->
		<!-- menu item: MODALITIES ————————————————— -->
		<a class="level1 helvetica first" href="#" id="modalities">Modalities</a>
		<div class="menu_separator"></div>

		<!-- menu item: CLINICAL SUPPLIES ————————————————— -->
		<a class="level1 helvetica" href="#" id="clinicalSupplies" >Clinic Supplies</a>
		<div class="menu_separator"></div>

		<!-- menu item: TABLES & TRACTION ————————————————— -->
		<a class="level1 helvetica" href="#" id="tables">Tables/Traction</a>
		<div class="menu_separator"></div>

		<!-- menu item: FITNESS ————————————————— -->
		<a class="level1 helvetica" href="#" id="fitness">Fitness</a>
		<div class="menu_separator"></div>

		<!-- menu item: ORTHOPEDICS ————————————————— -->
		<a class="level1 helvetica" href="#" id="orthopedics">Orthopedics</a>
		<div class="menu_separator"></div>

		<!-- menu item: ACT/TAPING ————————————————— -->
		<a class="level1 helvetica" href="#" id="taping">ATC/Taping</a>
		<div class="menu_separator"></div>

		<!-- menu item: EVALUATION ————————————————— -->
		<a class="level1 helvetica" href="#" id="evaluation">Evaluation</a>
		<div class="menu_separator"></div>

		<!-- menu item: DAILY LIVING AIDS ————————————————— -->
		<a class="level1 helvetica" href="#" id="dailyLiving">Daily Living Aids</a>
		<div class="menu_separator"></div>

		<!-- menu item: LYMPHEDEMA  ————————————————— -->
		<a class="level1 helvetica" href="#" id="lymphedema">Lymphedema</a>
		<div class="menu_separator"></div>

		<!-- menu item: WOUND CARE ————————————————— -->
		<a class="level1 helvetica" href="javascript:void(0);" id="woundCare">Wound Care</a>
		<div class="menu_separator"></div>

		<!-- menu item: TRUMEDICAL ————————————————— -->
		<a class="level1 helvetica" href="#" id="trumedical" style="color:#0094DE!important;">About TruMedical</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PATIENTS ————————————————— -->

		<a class="level1B helvetica" href="#" id="patients"  >Patients</a>
		<div class="menu_separator"></div>
	
		<!-- menu item: PROVIDERS ————————————————— -->
		<a class="level1B helvetica" href="#" id="providers">Providers</a>
		<div class="menu_separator"></div>

		<!-- menu item: PAYORS ————————————————— -->
		<a class="level1B helvetica" href="#" id="payors">Payors</a>
		
		<!-- menu item: Search Box ————————————————— -->
		
		<div id="cse-search-form" style="width: 100%;">Loading</div>
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript"> 
		  /*google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST}); */
		  google.load('search', '1', {language : 'en', style : src="http://tm3ror.heroku.com/stylesheets/google_cse_minimalist.css"}); 
			/* attempts to override the minimalist theme using jQuery don't work.
			   How do I get it to use my local copy of the css file minimalist.css? 
			$("div.gsc-clear-button").css("border","1px solid gray");
			$("div.gsc-clear-button").css("padding","5px 4px 5px 4px");
			$("div.gsc-clear-button").css("margin-left","2px");
			*/
		  google.setOnLoadCallback(function() {
		    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
		      '000064363312609554513:jmpucuppl78', customSearchOptions);
		    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		    var options = new google.search.DrawOptions();
		    options.setSearchFormRoot('cse-search-form');
		    customSearchControl.draw('cse', options);
		  }, true);
		</script>


		<!-- Google site search results ——————————————————————————————————————— -->
		<!-- styles set in http://tm3ror.heroku.com/stylesheets/google_cse_minimalist.css   -->
		<div id="cse" style="width:100%;">
		</div>
		
	</div> <!-- end div 'menu_main' -->
		
</div> <!-- end div 'menu' -->


