<div class="subcategories">
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Balance & Stability</a>
		</div>
	</div><!-- end div.subcategory --> 
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_2.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Clinical Equipment</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_3.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Clinical Supplies</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Education</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Hand Therapy</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Massage Products</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Pillows & Cushions</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Resistive Exercise</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Therapeutic Exercise</a>
		</div>
	</div><!-- end div.subcategory -->
	
	<div class="subcategory">
		<%= image_tag("/images/categories/gray_1.jpg", :size => "120x80",:style => "float:left;") %>
		<div class="subcategoryName">
			<a href="#">Topical Analgesics</a>
		</div>
	</div><!-- end div.subcategory -->
	
</div><!-- end div.subcategories -->