			<div class="products_div"> 
				
				<!-- <p style="color:red; margin:10px;">DEBUGGING: in _simple_products.html.erb</p> -->
				<!-- For each (simple) product in this leaf-level category, 
						render a clickable partial that displays the product image and name.
						If the user clicks on this partial, it should go to product/show. 
				--> 
				<% @category.products.each do |p| %> <!-- or @products if it has been set up by the controller -->
					<div class="product">
						<a href='<%= product_path(p.id) %>'>
							<%= image_tag("/images/products/all_small/" + p.image_filename + ".jpg", :size => "120x80",:style => "float:left; border:0;") %>
							<div class="productName"><%= sanitize(p.name[0,37]) %></div>
						</a>
					</div>

				<% end %>

			</div><!-- end div.products_div --> -