<div class="subcategories">
	
	<% @top_category.children.each do |subcat| %>
		
		<!-- render a clickable partial that displays the subcategory image and name -->
		
		<div class="subcategory">
			<a href='<%= category_path(subcat.id) %>'>

				<%= image_tag("/images/categories/all/" + subcat.image_filename + ".jpg", :size => "120x80",:style => "float:left; border:0;") %>
				<div class="subcategoryName"><%= subcat.name %></div>
			</a>
		</div> <!-- end div.subcategory --> 
		
	<% end %>

</div><!-- end div.subcategories --> -
