
			<p style="color:red; margin:10px;">DEBUGGING: in partial views/categories/_leafCategories.html.erb</p>
			
			<div class="leafCategories" style="margin-top:20px;">
				
				<% @category.children.each do |subcat| %>
					
					<!-- render a clickable partial that displays the subcategory image and name -->
					<div class="leafCategory">
						<a href='<%= category_path(subcat.id) %>'>
							<div class="pic">
								<%= image_tag("/images/categories/all/" + subcat.image_filename[0,6] + "-000" + ".jpg") %>
							</div>
							<div class="leafCategoryName"><%= subcat.name %></div>
						</a>
					</div>
					
				<% end %>
				
				<!-- image to allow the user to close the popup manually --> 
				<img class="close" src="/images/utility/Close16.png">

			</div><!-- end div.leafCategories -->