
			
			<div class="leafCategories">
				
				<% @category.children.each do |subcat| %>
					
					<!-- render a clickable partial that displays the subcategory image and name -->
					<div class="leafCategory">
						<a href='<%= leaf_category_path(subcat.id) %>'>

							<%= image_tag("/images/categories/all/" + subcat.image_filename + ".jpg", :size => "120x80",:style => "float:left; border:0;") %>
							<div class="leafCategoryName"><%= subcat.name %></div>
						</a>
					</div>
					
				<% end %>
				
				<!-- image to allow the user to close the popup manually --> 
				<img class="close" src="/images/utility/Close16.png">

			</div><!-- end div.leafCategories -->