		<p style="color:red; margin:10px;">DEBUGGING: in partial _simple_product.html.erb</p>
		<div class="product">
			<a href='<%= product_path(product.id) %>'>
				<div class='pic'>
					<%= image_tag("/images/products/all_small/" + product.image_filename + ".jpg") %>
				</div>
				<div class="productName"><%= sanitize(product.name[0,37]) %></div>
			</a>
		</div>


