
	<!-- 
        —————————————————————————————————————————————————————————————————————————————————————————
        
				Product#show
				
				—————————————————————————————————————————————————————————————————————————————————————————
       
 						to do:
				        1. create rails code that displays properties of this product
				    				features
										shipping
											
								2. insert quantity, add-to-cart 
								3. insert shp
								2. remove unused images from images/landscapes

								7. get zoom working galleria? (or move to gallerific, or ... ) 
						
						to fix:
								1. container_right is moving left under/below main content if when there is adequate room for it on the right.  Code block was copied verbatim from category#display where it displays correctly on the right, and moves correctly to the left, just beneath the left menu when the user's browser window is not large enough for it to fit to the right of main_content.  Why doesn't it work here?  ( And when it does go left, why does it drop down below main_content'  it looks like either its too wide, or there isn't enough space to the left of main_content.  Again: What's different between this page and category#display?  Real question is not 'Why does it break here?' but 'How does it work there?' Explicit javascript invoked when page is resized, or the effect of careful set of 'float' declarations? 
								2. zoom  line 331 
									— Have I cut omniture_click? in my split out version of the js files?  
									— Is it picking up correct image in /public/images/products/zoom/118079.jpg? No. It is still getting the one in /images/products/normal/118079.jpg; you can tell because the right part of the smaller image is cut off. The zoom is just blowing up the smaller image, not shifting to use the larger one. Why?  DEBUG

				    open questions:
				        1. background image for modalities — or just a color block? 
								2. what about register/login, and cart/checkout? I'd like to get them out of the 
										upper right (or move right_content down to get under them) 
				        3. use application.html.erb and its trumedical_base.css to lock down size of pages at 1052/<?>— how?
				        4. enable floating logomark?  if so : design one that works on a block of color. 
				 				5. drop div 'black screen' from product#show, leaf_category#show, and category#show?
								6  breadcrumb: does it work? how? do we want it since you can only go back to leaf-level category page or home page but not to intermediate pages?  Seems like mavic had a similar conundrum, but they kept it.
								7. Google search: which version is being used here? 
								 		— How are search results displayed to the user? 

				     refactoring:    
								1. insert partial for left nav
				 				2. insert partial for search 
								3. insert partial for right_content?
								4. move Google analytics into application.html.erb 
            
        
        —————————————————————————————————————————————————————————————————————————————————————————
    -->
        

	<%= content_for(:header) do %>

		<title>TruMedical Solutions / Products / [category] / [subcategory ] / [leaf category] / [Product] </title>       									
		<script type="text/javascript" >

			$(document).ready(function() {	
					$("#body-background").ezBgResize();				
					getSessionProductCompare();
					checkSize();
				});
				var macromodels=new Array();
				var showCompare = false;
				var activeFamily = '167837';
				var basePath ='/en'; 
				var itemtimer=new Array();
				
		</script>
  
	<% end %>

    
	<%= content_for(:body) do %>
	
	
		
		<div id="body-background">
			<img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg">
		</div>
        
		<!-- container —————————————————————————————————————————————————————————————————— -->

		<div id="container">
			<div id="black_screen"></div> <!-- used here?  drop from category#display also? -->

      <!-- subcontainer —————————————————————————————————————————————————————— -->

			<div id="subcontainer">
				
				<!-- MENU —————————————————————————————————————————————————————  -->
				
				<%= render :partial => 'shared/menu' %>

            <!-- Google search —————————————————————————————————— -->
						<!-- consider putting product search back on left in Category#display and Product#display
						<form id="search_form" action="/en/search/google_cse_adv" method="post" name="search_form">
							<script type="text/javascript" src="http://www.google.com/jsapi">
</script> <script type="text/javascript">
google.load('search', '1');
							google.setOnLoadCallback(function() {
							google.search.CustomSearchControl.attachAutoCompletion(
							'014338948727438158850:bsnpnwdxyvo',
							document.getElementById('search_input'),
							'search_form');
							});
							</script>
							<div id="search_wrapper">
								<h1 id="search_hint" class="helvetica">
									search...
								</h1><input class="" id="search_input" type="text" name="keys" value="" maxlength="30" autocomplete="off">
							</div><a class="submit" href="javascript:%20document.getElementById('search_form').submit();">OK</a> <input type="hidden" value="b336c5e5cff036b0dcddac1772beee93" name="form_token"> <input type="hidden" value="search_form" id="edit-search-form" name="form_id">
							<div class="clear" style=""></div>
						</form>
					-->

        <!-- MAIN CONTENT —————————————————————————————————————————————— -->

				<div id="main_content">
					<div id="breadcrumb">
						<div style="float:left">
							<b><a href="/en">home page</a></b> &gt; <a href="/en/product/wheels/road-triathlon/wheels">wheels - road &amp; triathlon</a> &gt;&nbsp;&nbsp;
						</div>
						<div id="select_page">
							<div id="selected_product" onClick="show_hide_select('#list_select')">
								Cosmic Carbone Ultimate
							</div>
							<ul id="list_select">
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Com%C3%A8te-Road">Comète Road</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Cosmic-Carbone-SLR">Cosmic Carbone SLR</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/R-Sys-SLR">R-Sys SLR</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Ksyrium-SLR">Ksyrium SLR</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Cosmic-Carbone-SR">Cosmic Carbone SR</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Cosmic-Carbone-SL">Cosmic Carbone SL</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Cosmic-Carbone-SL-PowerTap">Cosmic Carbone SL PowerTap</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Cosmic-Elite">Cosmic Elite</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/R-Sys-SL">R-Sys SL</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/R-Sys">R-Sys</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Ksyrium-SR">Ksyrium SR</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Ksyrium-SL">Ksyrium SL</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Ksyrium-Elite">Ksyrium Elite</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Ksyrium-Equipe">Ksyrium Equipe</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Aksium">Aksium</a>
								</li>
								<li>
									<a href="/en/product/wheels/road-triathlon/wheels/Speedcity">Speedcity</a>
								</li>
							</ul>
							<script type="text/javascript">
								$('#body').click( function(){ $('#list_select').css('display','none'); });
							</script>
						</div>
					</div>

					<div id="error-messages" style="display:none">
						<div class="messages error">
							warning: Invalid argument supplied for foreach() in /var/www/sites/default/themes/mavic/node-technoline-tabs.tpl.php on line 3.
						</div>
					</div>

					<script type="text/javascript">

					$(document).ready(function() {
						$("#body-background").ezBgResize();
						checkSize();

						createTabsAction();
						getSessionProductCompare();
						displayTabs();

						/* Visuel */
						$('#product .visuel:first').show();

						/* Colors*/
						$('#product .change-color').css('opacity','1');
						$('#product .change-color:first').css('opacity','0.3');

						/* Feature */
						$('#change_image a.feature-image').show();
						$('#change_image a.feature-image-notooltip').show();
						$('#features_content .feature-content').show();

						//Get feature picture big
						$('a.feature-image,a.feature-image-notooltip').click(function() {
						showZoom(this.href,$(this).find('img').attr('alt'));
						return false;
						});

						//Zoom on image
						$('#product .picture').click(function(){
						omniture_click(document.getElementById('zoom'), 'Zoom');
						showZoom($('#zoom').attr('href'),$('#zoom').attr('alt'));
						return false;
						});

						$('#closeZoom_wrapper').click(function(){
						hideMegaZoom();
						hideZoom();
						});
						$('#closeZoom').click(function(e){
						e.stopPropagation(); //$('#closeZoom_wrapper').click() will not fire
						hideMegaZoom();
						hideZoom();
						});

						//hover for #closeZoom_wrapper in ie6
						if ($.browser.msie && $.browser.version.substr(0,1)<7) {
						$('#closeZoom_wrapper').mouseenter(function(){
						$(this).addClass('hover');
						}).mouseleave(function(){
						$(this).removeClass('hover');
						});
						}

						/* Color switch*/

						//Associated and size init
						$('a.associated-off').hide();
						$('a.associated-on').show();
						$('p.size-off').hide();
						$('p.size-on').show();
						$('#change_color a').click(function() {

						//change opacity for others
						$('#product .change-color').css('opacity','1');
						$(this).css('opacity','0.3');

						$('#change_view a.button_view').show();//Link to change view available
						var associated = $(this).attr("name").split('_');
						var articleId = $(this).children(":first").attr("name");

						$('a.associated').hide();
						$('p.size').hide();
						$('p.size-'+articleId).show();
						for ( var i=0;i<associated.length;i++) {
						$('a.associated-'+associated[i]).show();
						}
						$color_href = $(this).attr("href");

						var $imgVisuel = $('#product img:visible');
						$('#product img.visuel').hide();
						if($imgVisuel.hasClass('visuel-front')) {
						$('#product img.visuel-front-'+articleId).show();
						$('#zoom').attr("href", $color_href.replace('normal', 'zoom').replace('.jpg', '_wheelsFront.jpg'));
						} else {
						$('#product img.visuel-'+articleId).show();
						$('#zoom').attr("href", $color_href.replace('normal', 'zoom'));

						}
						$('#zoom').show();
						$('#change_view').show();

						return false;
						});

						/* Front/Rear wheel */
						$('a.button_view').click(function() {
						$(this).parent().children().removeClass('button-view-active button-view-rear-active button-view-front-active');
						});
						$('a.button-view-front').click(function() {
						//Get article/color of active image
						var articleId = $('#product img.visuel:visible').attr("name");
						if(articleId) {
						$('#product img.visuel').hide();
						$('#product .visuel-front-'+articleId).show();
						$(this).addClass('button-view-active button-view-front-active');
						var $visibleSrc = $('#product img.visuel:visible').attr("src");
						$('#zoom').attr("href", $visibleSrc.replace('normal', 'zoom'));
						}
						//
						// omniture event 
						//
						omniture_click(this, 'Front view');
						});
						$('a.button-view-rear').click(function() {
						var articleId = $('#product img.visuel:visible').attr("name");
						if(articleId) {
						$('#product img.visuel').hide();
						$('#product .visuel-'+articleId).show();
						$(this).addClass('button-view-active button-view-rear-active');
						var $visibleSrc = $('#product img.visuel:visible').attr("src");
						$('#zoom').attr("href", $visibleSrc.replace('normal', 'zoom'));
						}
						//
						// omniture event 
						//
						omniture_click(this, 'Rear view');
						});

						});
						var megaZoomImgSrc = "/sites/default/files/products/megazoom/118079.jpg";
						var activeFamily = '167837';
						var basePath ='/en';
						var t_compare = "COMPARE";
					</script>

          <!-- PRODUCT —————————————————————————————————————————————— -->

					<div id="product">

						<div class="left">
							<div id="zoomBar">
								<a onClick="omniture_click(document.getElementById('zoom'),'Zoom');showZoom(this.href,'Cosmic Carbone Ultimate'); return false;" alt="Cosmic Carbone Ultimate" id="zoom" class="button_view" href="../images/products/zoom/118079.jpg" name="zoom">
									ZOOM
								</a> 
								<img id="corner" src="../images/themes/corner.gif" alt="" name="corner">
							</div>
							<div class="picture">
								<img name="118079" style="display: none;" class="visuel visuel-118079" src="../images/products/normal/118079.jpg" alt="Cosmic Carbone Ultimate"> 
								<img name="118079" style="display: none;" class="visuel visuel-front visuel-front-118079" src="../images/products/normal/118079_wheelsFront.jpg" alt="Cosmic Carbone Ultimate"> 
								<img class="visuel visuel-feature" style="display:none;" src="" alt="">
							</div>
							<div id="zoomBox" onClick="showMegaZoom()"></div>
							<div id="megaZoom" class="zoom" onClick="hideMegaZoom()">
								<img id="megaZoomImg" style="" src="" name="megaZoomImg">
							</div>
							<div id="closeZoom_wrapper">
								<a onClick="hideMegaZoom();hideZoom();" id="closeZoom" class="button_view" name="closeZoom">CLOSE</a>
							</div>
							<div id="navigation_box">
								<div id="change_view" class="change_view_bg">
									<a id="rear_wheel" href="javascript:void(0)" class="button_view button-view-rear button-view-rear-active button-view-active" name="rear_wheel">rear wheel</a> <a id="front_wheel" href="javascript:void(0)" class="button_view button-view-front" name="front_wheel">front wheel</a>
								</div>
								<div class="clear"></div>
								<div class="clear"></div>
								<div id="change_image">
									<a onClick="omniture_click(this, 'Alternate view');" class="feature-image-notooltip" style="display: none;" href="../images/products/alternatives/zoom/118079_1_black.jpg"><img src="../images/products/alternatives/mini/118079_1_black.jpg" alt="Cosmic Carbone Ultimate"></a> <a class="empty">&nbsp;</a><a class="empty">&nbsp;</a><a class="empty">&nbsp;</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="right">
							<h1 class="helvetica title_product">
								<img src="../images/themes/logos/ssc_product.gif" alt="Special Service Course. The Mavic SSC label products are developed in close collaboration with our top athletes. These products meet the strict performance demands of pro riders, and are made for pro cycling."> Cosmic Carbone Ultimate
							</h1>
							<p class="bold first">
								Light AND aerodynamic, the Cosmic Carbone Ultimate is the wheel-tire system to beat for aerodynamic wheels - <span id="new_product">new</span>
							</p>
							<p>
								The Pro Tour teams most wanted wheel-tire system. The Cosmic Carbone Ultimate has demonstrated its world class performance with prestigious results: UCI world champion, Tour de France polka dot jersey, victories on many Classics. This wheel-tire system can do it all.
							</p>
							<p class="actions">
								<img src="../images/themes/product_compare.gif" alt="" class="product_compare"> <a href="javascript:storeOneProductToCompare('172999');" onClick="omniture_click(this, 'Compare');">PRODUCT COMPARE</a> <!--
				<img src="../images/themes/share.gif" alt="" class="share" />
				<a href="javascript: void(0)">SHARE</a>
				-->
								 <!-- AddThis Button BEGIN -->
								 <span class="addthis_toolbox addthis_default_style"><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4c84dda13565271e" class="addthis_button_compact">SHARE</a></span><script type="text/javascript">
var addthis_offset = -53;
								if ($.browser.msie && $.browser.version.substr(0,1)<7) {
								addthis_offset -= 5;
								}
								/* AddThis configuration http://www.addthis.com/help/client-api */
								var addthis_config = {
								ui_offset_left: addthis_offset,
								ui_language: 'en',
								ui_click: true
								};
								</script> <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c84dda13565271e">
</script> <script type="text/javascript">
$('.addthis_button_compact').click(function(e){
								omniture_click(this, 'Share:Cosmic Carbone Ultimate');
								});
								</script> <!-- AddThis Button END -->
								 <img src="../images/themes/print.gif" alt="" class="print"> <a href="javascript:%20window.print();" onClick="omniture_click(this, 'Print:Cosmic Carbone Ultimate');">PRINT</a>
							</p>
							<div class="clear"></div>
							<div class="yellow">
								<h2 class="helvetica">
									KEY BENEFITS
								</h2>
							</div>
							<p>
								<span class="bold">SSC wheel-tyre system: the pros choice</span><br>
								Optimized wheel-tyre system: GripLink / PowerLink<br>
								Distinctive full black - SSC graphics
							</p>
							<p>
								<span class="bold">Extremely light (1185 grams) and amazingly aerodynamic</span><br>
								Monobloc full carbon construction<br>
								Aero all over: 40mm elliptical rim sidewalls, profiled spokes and hubs
							</p>
							<p>
								<span class="bold">The stiffest carbon wheel-tyre system on the market</span><br>
								40mm deep rim profile, no spoke drilling<br>
								Asymmetrical rear rim profile 100% carbon spokes
							</p>
							<p>
								<span class="bold">Weight: 1185 grams<br></span> front wheel: 520 grams<br>
								rear wheel ED11: 665 grams<br>
								pair of wheel with tyre (WTS): 1765 grams<br>
								front wheel with tyre (WTS): 810 grams<br>
								rear wheel ED11 with tyre (WTS): 955 grams<br>
							</p>
							<div class="yellow">
								<h2 class="helvetica">
									ASSOCIATED PRODUCTS
								</h2>
							</div>
							<div id="content_gamme_items">
								<div id="associated_products">
									<a class="associated associated-118491-118079 associated-on" href="/en/product/tyres/tyres/tyres/Yksion-PowerLink-Tubular-23?118491"><img onMouseOver="overImage('172752')" src="../images/products/associated/118491.jpg" alt="Yksion PowerLink Tubular 23"></a>
									<div id="altpop172752" name="altpop172752" class="altpop">
										<b>Yksion PowerLink Tubular 23</b><br>
										The right Link when responsiveness makes the difference
									</div><a class="associated associated-118647-118079 associated-on" href="/en/product/computers/computers/computers/Wintech-USB-Ultimate?118647"><img onMouseOver="overImage('171948')" src="../images/products/associated/118647.jpg" alt="Wintech USB Ultimate"></a>
									<div id="altpop171948" name="altpop171948" class="altpop">
										<b>Wintech USB Ultimate</b><br>
										The Wintech with the most comprehensive list of function, including PC connexion
									</div><a class="associated associated-300131-118079 associated-on" href="/en/product/footwear/road/footwear/Huez?300131"><img onMouseOver="overImage('172212')" src="../images/products/associated/300131.jpg" alt="Huez"></a>
									<div id="altpop172212" name="altpop172212" class="altpop">
										<b>Huez</b><br>
										High performance ultralight race shoe
									</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<!-- ANCILLARY PRODUCT DATA  —————————————————————————————— -->
							<!-- May just drop all of this ... _________________________ -->

					<div id="tabs" class="tab_space">
						
						<!-- Tab buttons ———————————————————————————— -->

						<div id="tabs_buttons">
							<div id="technologies" onMouseOut="outTab(this)" onMouseOver="overTab(this)" class="tab helvetica active">
								TECHNOLOGIES
							</div>
							<div id="features" onMouseOut="outTab(this)" onMouseOver="overTab(this)" class="tab helvetica">
								FEATURES
							</div>

							<div id="gallery" onMouseOut="outTab(this)" onMouseOver="overTab(this)" onClick="gallery_initialize()" class="tab helvetica">
								GALLERY
							</div>
							<div id="downloads" onMouseOut="outTab(this)" onMouseOver="overTab(this)" class="tab helvetica">
								manuals
							</div>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>


						<!-- technologies  ——————————————————————————— -->

						<div class="tab_content technologies" id="technologies_content">
							<div class="element">
								<a href="/en/technology/wheels/R2R"><img src="../images/technologies/brother/9412.jpg" class="big" alt="R2R"></a>
								<p class="title">
									R2R
								</p>
								<p class="text">
									Rim to Rim. R2R cuts spoke count by 2, resulting in only 2 spoke ends instead of 4: - better aerodynamics: smooth integration of the spoke to the hub flanges - lighter: carbon spokes ...
								</p>
								<p class="more">
									<a href="/en/technology/wheels/R2R"><img border="0" src="../images/themes/more_info.gif" alt=""></a> <a href="/en/technology/wheels/R2R" class="moreinfos">More infos</a>
								</p>
								<div class="clear"></div>
							</div>
							<div class="element">
								<a href="/en/technology/wheels/GripLink"><img src="../images/technologies/brother/10550.jpg" class="big" alt="GripLink"></a>
								<p class="title">
									GripLink
								</p>
								<p class="text">
									A good tyre, whether a clincher or a tubular, must fully liberate the wheel’s potential and even enhance its performance. Therefore, the expected benefits of the front tyre are different ...
								</p>
								<p class="more">
									<a href="/en/technology/wheels/GripLink"><img border="0" src="../images/themes/more_info.gif" alt=""></a> <a href="/en/technology/wheels/GripLink" class="moreinfos">More infos</a>
								</p>
								<div class="clear"></div>
							</div>
							<div class="element">
								<a href="/en/technology/wheels/PowerLink"><img src="../images/technologies/brother/10551.jpg" class="big" alt="PowerLink"></a>
								<p class="title">
									PowerLink
								</p>
								<p class="text">
									A good tyre, whether a clincher or a tubular, must fully liberate the wheel’s potential and even enhance its performance. Therefore, the expected benefits of the front tyre are different ...
								</p>
								<p class="more">
									<a href="/en/technology/wheels/PowerLink"><img border="0" src="../images/themes/more_info.gif" alt=""></a> <a href="/en/technology/wheels/PowerLink" class="moreinfos">More infos</a>
								</p>
								<div class="clear"></div>
							</div>
							<div class="element">
								<a href="/en/technology/wheels/FTS-L"><img src="../images/technologies/brother/9404.jpg" class="big" alt="FTS-L"></a>
								<p class="title">
									FTS-L
								</p>
								<p class="text">
									FTS-L: Force Transfer System Light. Reinforcement of key transmission components: the contact area between the pawl and the hub body is reinforced by 2 stainless steel inserts, which ...
								</p>
								<p class="more">
									<a href="/en/technology/wheels/FTS-L"><img border="0" src="../images/themes/more_info.gif" alt=""></a> <a href="/en/technology/wheels/FTS-L" class="moreinfos">More infos</a>
								</p>
								<div class="clear"></div>
							</div>
							<div class="element">
								<a href="/en/technology/wheels/QRM-0"><img src="../images/technologies/brother/9401.jpg" class="big" alt="QRM+"></a>
								<p class="title">
									QRM+
								</p>
								<p class="text">
									Qualité de Roulements Mavic +. Our most demanding level. Those cartridge bearings are of course double sealled with C3 internal clearance, and toped with a micro-adjustability system, ...
								</p>
								<p class="more">
									<a href="/en/technology/wheels/QRM-0"><img border="0" src="../images/themes/more_info.gif" alt=""></a> <a href="/en/technology/wheels/QRM-0" class="moreinfos">More infos</a>
								</p>
								<div class="clear"></div>
							</div>
						</div>


						<!-- features  —————————————————————————————— -->

						<div class="tab_content features" id="features_content">
							<p class="color0 feature-content" style="display: none;">
								<span class="bold">RIMS</span><br>
								Material: 100% woven 12K carbon fiber<br>
								Color: nude carbon<br>
								Height: 40 mm, rear asymmetrical<br>
								Drilling: no holes, spokes molded to the rim<br>
								Brake track: carbon<br>
								Valve hole diameter: 6.5 mm<br>
							</p>
							<p class="color1 feature-content" style="display: none;">
								<span class="bold">SPOKES</span><br>
								Material: unidirectional carbon fiber<br>
								Shape: R2R<br>
								Color: nude carbon<br>
								Nipples: brass, ABS<br>
								Count: 20 front and rear<br>
								Lacing: crossed 2 front and rear drive side, radial non drive side<br>
							</p>
							<p class="color0 feature-content" style="display: none;">
								<span class="bold">HUBS</span><br>
								Front body: 100% carbon<br>
								Rear body: aluminum<br>
								Color: front nude carbon, rear black<br>
								Front axle material: aluminum<br>
								Rear axle material: titanium and aluminum<br>
								QRM+<br>
								FTS-L, steel<br>
								Front axle size: 9x100<br>
								Rear axle size: 9,5x130<br>
							</p>
							<p class="color1 feature-content" style="display: none;">
								<span class="bold">TYRE</span><br>
								Link: GripLink<br>
								Link: PowerLink<br>
								Front Tread: Single Compound<br>
								Rear Tread: Dual Compound<br>
								Casing: 290 TPI<br>
								Breaker: Strong Nylon<br>
								Dimension: 28"-23<br>
								Min. Reifendruck: 8 bar / 115 psi<br>
								Max. Reifendruck: 14 bar / 200 psi<br>
							</p>
							<p class="color0 feature-content" style="display: none;">
								<span class="bold">COMPATIBILITY</span><br>
								Tyre: tubular<br>
								ED11 or M10<br>
								ETRTO size: 28" Tubular<br>
								Recommended tyre sizes: 19 to 28 mm<br>
								Tyre version: Tubular only<br>
							</p>
							<p class="color1 feature-content" style="display: none;">
								<span class="bold">DELIVERED WITH</span><br>
								BR601 titanium quick releases<br>
								Wheelbags<br>
								Pair of brake pads for carbon brake track<br>
								Valve extender<br>
								Computer magnet (front wheel)<br>
								Bearing adjustment tool<br>
								Spoke wrench (rear wheel)<br>
							</p>
							<div class="clear"></div>
						</div>


						<!-- photo gallery ———————————————————————————— -->

						<div class="tab_content gallery" id="gallery_content">
							<script src="../javascripts/galleria-1.2.4.js" type="text/javascript">
</script> <script src="/sites/default/themes/mavic/js/galleria/src/plugins/galleria.flickr.js" type="text/javascript">
</script> <script src="/sites/default/themes/mavic/js/galleria/src/themes/mavic/galleria.mavic.js" type="text/javascript">
</script> <script type="text/javascript">

							// initialize the plugin
							var flickr = new Galleria.Flickr('4af2660daf4fe80e729ad7cbd6589710'); 

							// inject a photset into galleria
							flickr.getUserTag({user:'mavicssc', tag:'m5774'},
									{size:'medium'}, 
									function(data) {$('#galleria').galleria({data_source:data});}
							);

							</script>
							<div id="galleria" style="width:709px;height:429px;margin:15px 0px 0px 0px"></div>
							<div class="clear"></div>
						</div>


						<!-- related news ———————————————————————————— -->

						<div class="tab_content relatednews" id="relatednews_content">
							<div class="element" onClick="document.location.href='/en/news/road/Mavic-riders-win-National-Championships-across-Europe'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5153/5876997884_5e13477568_m.jpg" class="big" alt="Mavic riders win National Championships across Europe">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Mavic riders win National Championships across Europe</b>
									</p>
									<p class="text">
										After a busy weekend of national championship races across the European continent, a big group of Mavic riders came out on top. From riders on Cosmic Carbone Ultimate wheels to riders ...&nbsp;<span class="product_assoc_date_news">(26 June 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Mavic riders win National Championships across Europe"> <a href="/en/news/road/Mavic-riders-win-National-Championships-across-Europe" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Mavic-riders-on-form-in-Tour-tune-up'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5026/5853519882_9f0386c236_m.jpg" class="big" alt="Mavic riders on form in Tour tune-up">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Mavic riders on form in Tour tune-up</b>
									</p>
									<p class="text">
										Philippe Gilbert (Omega Pharma-Lotto) preserved a slim lead going in to the final stage of the Ster ZLM Toer stage race in the Netherlands to claim the overall win. Just two weeks before ...&nbsp;<span class="product_assoc_date_news">(19 June 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Mavic riders on form in Tour tune-up"> <a href="/en/news/road/Mavic-riders-on-form-in-Tour-tune-up" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Sprint-success-in-Switzerland'">
								<div class="imageslot">
									<img height="108" src="http://farm3.static.flickr.com/2653/5835557035_94269d74ee_m.jpg" class="big" alt="Sprint success in Switzerland">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Sprint success in Switzerland</b>
									</p>
									<p class="text">
										After several stages in the mountains, stages three and four of the Tour de Suisse featured sprint finishes and Mavic riders came out on top. After riding in the early breakaway, ...&nbsp;<span class="product_assoc_date_news">(14 June 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Sprint success in Switzerland"> <a href="/en/news/road/Sprint-success-in-Switzerland" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Breakthrough-victory-for-van-den-Broeck'">
								<div class="imageslot">
									<img height="108" src="http://farm4.static.flickr.com/3035/5811416403_f6877ab588_m.jpg" class="big" alt="Breakthrough victory for van den Broeck">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Breakthrough victory for van den Broeck</b>
									</p>
									<p class="text">
										Belgian rider Jurgen van den Broeck of the Omega Pharma-Lotto team scored the first professional win of his career in dramatic fashion, attacking on the uphill finish of the first stage ...&nbsp;<span class="product_assoc_date_news">(6 June 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Breakthrough victory for van den Broeck"> <a href="/en/news/road/Breakthrough-victory-for-van-den-Broeck" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/triathlon/Olivier-Marceau-wins-Extreme-man-226'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5312/5811418343_b5206953b5_m.jpg" class="big" alt="Olivier Marceau wins Extreme-man 226">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Olivier Marceau wins Extreme-man 226</b>
									</p>
									<p class="text">
										With a time of 9 hours, 29 minutes and 4 seconds, triathlete Olivier Marceau won the Extreme-Man 226 event in Salou, Spain. This grueling race format features a 3.8km swim, 180km bike ...&nbsp;<span class="product_assoc_date_news">(5 June 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Olivier Marceau wins Extreme-man 226"> <a href="/en/news/triathlon/Olivier-Marceau-wins-Extreme-man-226" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Garmin-Cerv%C3%A9lo-TT-Specialists-Take-Two'">
								<div class="imageslot">
									<img height="108" src="http://farm4.static.flickr.com/3516/5780371993_ee16b620e9_m.jpg" class="big" alt="Garmin-Cervélo TT Specialists Take Two">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Garmin-Cervélo TT Specialists Take Two</b>
									</p>
									<p class="text">
										David Millar finished the Giro d’Italia with a win in the final time trial and Dave Zabriskie again asserted his dominance in the US National TT championships. These Garmin-Cervélo ...&nbsp;<span class="product_assoc_date_news">(29 May 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Garmin-Cervélo TT Specialists Take Two"> <a href="/en/news/road/Garmin-Cerv%C3%A9lo-TT-Specialists-Take-Two" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Zabriskie-takes-win-in-Tour-of-California-TT'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5264/5750851966_5b86561d05_m.jpg" class="big" alt="Zabriskie takes win in Tour of California TT">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Zabriskie takes win in Tour of California TT</b>
									</p>
									<p class="text">
										David Zabriskie of the Garmin-Cervélo team proved again that he is one of the best time trialists in the world with a victory in the hilly Tour of California stage six time trial in ...&nbsp;<span class="product_assoc_date_news">(20 May 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Zabriskie takes win in Tour of California TT"> <a href="/en/news/road/Zabriskie-takes-win-in-Tour-of-California-TT" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/product-tests/R-Sys-SLR-awarded-Editor%E2%80%99s-Choice-in-UK-magazine'">
								<div class="imageslot">
									<img height="108" src="http://farm3.static.flickr.com/2275/5726018788_3432b09cc2_m.jpg" class="big" alt="R-Sys SLR awarded Editor’s Choice in UK magazine">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>R-Sys SLR awarded Editor’s Choice in UK magazine</b>
									</p>
									<p class="text">
										In a test of the 2011 Mavic R-Sys SLR Wheel-Tyre System, the UK cycling magazine Cycling Plus awarded Editor’s Choice to the Mavic R-Sys. “These are among the lightest and smoothest ...&nbsp;<span class="product_assoc_date_news">(16 May 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="R-Sys SLR awarded Editor’s Choice in UK magazine"> <a href="/en/news/product-tests/R-Sys-SLR-awarded-Editor%E2%80%99s-Choice-in-UK-magazine" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Gli-atleti-Mavic-brillano-nelle-classiche-di-Primavera'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5109/5656916523_4c1062a1ed_m.jpg" class="big" alt="Mavic athletes shine in spring classics">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Mavic athletes shine in spring classics</b>
									</p>
									<p class="text">
										With an emphatic victory in Liege-Bastogne-Liege, Belgian powerhouse Philippe Gilbert (Omega Pharma-Lotto) completed a rare sweep of the hilly Ardennes classics. Gilbert is only the ...&nbsp;<span class="product_assoc_date_news">(27 April 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Mavic athletes shine in spring classics"> <a href="/en/news/road/Gli-atleti-Mavic-brillano-nelle-classiche-di-Primavera" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Johan-Van-Summeren-wins-Paris-Roubaix'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5190/5612353039_f2ef0f3176_m.jpg" class="big" alt="Johan Van Summeren wins Paris-Roubaix">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Johan Van Summeren wins Paris-Roubaix</b>
									</p>
									<p class="text">
										After a risky decision and ambitious team tactics, Johan Van Summeren (Garmin-Cervélo) won Paris-Roubaix, finishing alone at the front of the race on the famous velodrome. This victory ...&nbsp;<span class="product_assoc_date_news">(10 April 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Johan Van Summeren wins Paris-Roubaix"> <a href="/en/news/road/Johan-Van-Summeren-wins-Paris-Roubaix" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Tirreno-Adriatico-2-victories-on-Mavic'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5182/5573365971_182e6133f5_m.jpg" class="big" alt="Tirreno Adriatico, 2 victories on Mavic">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Tirreno Adriatico, 2 victories on Mavic</b>
									</p>
									<p class="text">
										Philippe Gilbert (Omega Pharma-Lotto) won the 5th stage of Tirreno-Adriatico by dominating the leading group with his sprint speed. Earlier in the week, Tyler Farrar (Garmin-Cervélo) ...&nbsp;<span class="product_assoc_date_news">(15 March 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Tirreno Adriatico, 2 victories on Mavic"> <a href="/en/news/road/Tirreno-Adriatico-2-victories-on-Mavic" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Philippe-Gilbert-the-puncher'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5297/5573953806_f100657bdc_m.jpg" class="big" alt="Philippe Gilbert, the puncher">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Philippe Gilbert, the puncher</b>
									</p>
									<p class="text">
										Philippe Gilbert (Omega Pharma-Lotto) won the Strade Bianche (Eroica), one of the most epic road races of Italy. Portions of the race traverse white gravel roads, a feature that brings a ...&nbsp;<span class="product_assoc_date_news">(5 March 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Philippe Gilbert, the puncher"> <a href="/en/news/road/Philippe-Gilbert-the-puncher" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/First-of-the-season'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5016/5491424776_f0fb127ee0_m.jpg" class="big" alt="First of the season">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>First of the season</b>
									</p>
									<p class="text">
										Liquigas-Cannondale team rider Ivan Basso won the Grand Prix of Lugano in Switzerland. The Italian racer beat the two other contenders after a strong sprint.&nbsp;<span class="product_assoc_date_news">(27 February 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="First of the season"> <a href="/en/news/road/First-of-the-season" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Peter-Sagan-three-stage-wins-and-the-overall'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5185/5573953662_c1862e60af_m.jpg" class="big" alt="Peter Sagan, three stage wins and the overall">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Peter Sagan, three stage wins and the overall</b>
									</p>
									<p class="text">
										Peter Sagan (Liquigas-Cannondale) won 3 stages during the Giro di Sardegna in February. Peter succeeded on stage 1, 3 and 4 and took the final victory and the overall. &nbsp;<span class="product_assoc_date_news">(26 February 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Peter Sagan, three stage wins and the overall"> <a href="/en/news/road/Peter-Sagan-three-stage-wins-and-the-overall" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Heinrich-Haussler-two-times-on-the-podium'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5054/5433332374_faa8537652_m.jpg" class="big" alt="Heinrich Haussler, two times on the podium">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Heinrich Haussler, two times on the podium</b>
									</p>
									<p class="text">
										Garmin-Cervelo continued its winning ways with Heinrich Haussler winning stage 3 of the Tour of Qatar which moves him into the overall lead and second overall after racing 6 days. This ...&nbsp;<span class="product_assoc_date_news">(11 February 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Heinrich Haussler, two times on the podium"> <a href="/en/news/road/Heinrich-Haussler-two-times-on-the-podium" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Striking-2-stages-in-Mallorca'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5099/5432720597_c63993b268_m.jpg" class="big" alt="Striking 2 stages in Mallorca">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Striking 2 stages in Mallorca</b>
									</p>
									<p class="text">
										Garmin-Cervelo continues its winning ways and brings its good early season form from the Tour Down under to the 2011 Mallorca Challenge. Tyler Farrar won back-to-back stages yesterday ...&nbsp;<span class="product_assoc_date_news">(7 February 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Striking 2 stages in Mallorca"> <a href="/en/news/road/Striking-2-stages-in-Mallorca" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Meyer-clinches-Tour-Down-Under-AUS'">
								<div class="imageslot">
									<img height="108" src="http://farm6.static.flickr.com/5219/5387609014_b871f274bd_m.jpg" class="big" alt="Meyer clinches Tour Down Under (AUS)">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Meyer clinches Tour Down Under (AUS)</b>
									</p>
									<p class="text">
										23-year old Garmin- Cervélo rider Cameron Meyer and his teammates successfully defended the leader's jersey to win the 2011 Santos Tour Down Under. Meyer is now the UCI's top ranked ...&nbsp;<span class="product_assoc_date_news">(23 January 2011)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Meyer clinches Tour Down Under (AUS)"> <a href="/en/news/road/Meyer-clinches-Tour-Down-Under-AUS" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/David-Millar-won-the-Chrono-des-Nations'">
								<div class="imageslot">
									<img height="108" src="http://farm2.static.flickr.com/1322/5101720467_cf374b84ab_m.jpg" class="big" alt="David Millar won the Chrono des Nations">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>David Millar won the Chrono des Nations</b>
									</p>
									<p class="text">
										Chrono des Nations (FRA) – On the TT roads of the 2011 Tour de France, Scotsman David Millar, (Garmin-Transitions) won the time trial raced at Les Herbiers (Vendée-France) with a huge ...&nbsp;<span class="product_assoc_date_news">(17 October 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="David Millar won the Chrono des Nations"> <a href="/en/news/road/David-Millar-won-the-Chrono-des-Nations" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Repeat-Victory-for-Gilbert-at-Lombardia'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4124/5092915274_ca4a9ebdf0_m.jpg" class="big" alt="Repeat Victory for Gilbert at Lombardia">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Repeat Victory for Gilbert at Lombardia</b>
									</p>
									<p class="text">
										Philippe Gilbert (Omega Pharma-Lotto) defeated a difficult field and even more difficult weather conditions to take his second consecutive victory at the Giro Di Lombardia. Gilbert ...&nbsp;<span class="product_assoc_date_news">(16 October 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Repeat Victory for Gilbert at Lombardia"> <a href="/en/news/road/Repeat-Victory-for-Gilbert-at-Lombardia" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Gilbert-makes-it-two-in-a-row-at-Gran-Piemonte'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4128/5083529194_a0aef0a384_m.jpg" class="big" alt="Gilbert makes it two in a row at Gran Piemonte">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Gilbert makes it two in a row at Gran Piemonte</b>
									</p>
									<p class="text">
										Gran Piemonte (ITA) - While the season is winding down Philippe Gilbert (Omega Pharma-Lotto) is still going strong as he repeated last year’s victory again today by winning Gran Piemonte ...&nbsp;<span class="product_assoc_date_news">(10 October 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Gilbert makes it two in a row at Gran Piemonte"> <a href="/en/news/road/Gilbert-makes-it-two-in-a-row-at-Gran-Piemonte" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Nibali-winner-of-the-2010-Vuelta'">
								<div class="imageslot">
									<img height="108" src="http://www.mavic.com/sites/default/files/news/bettiniphoto_0059188_1_m.jpg" class="big" alt="Nibali winner of the 2010 Vuelta">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Nibali winner of the 2010 Vuelta</b>
									</p>
									<p class="text">
										Vuelta a España (SP) Following the Giro d'Italia win with Ivan Basso (Liquigas-Doimo) in May, Vicenzo Nibali (Liquigas-Doimo) has now raced perfectly&nbsp;<span class="product_assoc_date_news">(18 September 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Nibali winner of the 2010 Vuelta"> <a href="/en/news/road/Nibali-winner-of-the-2010-Vuelta" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Nibali-winner'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4135/4925818077_0f669626b1_m.jpg" class="big" alt="Nibali winner">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Nibali winner</b>
									</p>
									<p class="text">
										Trofeo Melinda (ITA). Vincenzo Nibali (Liquigas Doimo) wins the Trofeo Melinda in Val di Non in Italy on the 21st of August. Product raced: Cosmic Carbone Ultimate&nbsp;<span class="product_assoc_date_news">(23 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Nibali winner"> <a href="/en/news/road/Nibali-winner" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4116/4925816929_e0fb347f00_m.jpg" class="big" alt="Sylvain Sudrie ITU World Champ">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Sylvain Sudrie ITU World Champ</b>
									</p>
									<p class="text">
										Immenstadt (DE). On the 31st of July, Sylvain Sudrie become the new ITU World Champion Long Distance (3 km swim, 80km bike, 20km run) in Germany in Immenstadt. He finished in front of ...&nbsp;<span class="product_assoc_date_news">(20 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Sylvain Sudrie ITU World Champ"> <a href="/en" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Tuft-wins-in-The-Netherlands-Martin-wins-in-Italy'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4099/4926415296_eab48e947f_m.jpg" class="big" alt="Tuft wins in The Netherlands, Martin wins in Italy.">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Tuft wins in The Netherlands, Martin wins in Italy.</b>
									</p>
									<p class="text">
										Eneco Tour (NL) / Tre Valli Varesine (ITA). It was another day of double success for Team Garmin Transitions. Svein won the prologue time trial of the Eneco Tour in The Netherlands on a ...&nbsp;<span class="product_assoc_date_news">(20 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Tuft wins in The Netherlands, Martin wins in Italy."> <a href="/en/news/road/Tuft-wins-in-The-Netherlands-Martin-wins-in-Italy" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Tuft-wins-TT-stage'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4101/4926411638_43d82d4f10_m.jpg" class="big" alt="Tuft wins TT stage">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Tuft wins TT stage</b>
									</p>
									<p class="text">
										Tour of Denmark (DK). Svein Tuft did a perfect race and won the TT stage of the Tour of Denmark. Product raced: Cosmic Carbone 80 / Comete&nbsp;<span class="product_assoc_date_news">(20 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Tuft wins TT stage"> <a href="/en/news/road/Tuft-wins-TT-stage" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Tyler-Farrar-winning-in-German'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4079/4925815475_c22218067f_m.jpg" class="big" alt="Tyler Farrar winning in Germany">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Tyler Farrar winning in Germany</b>
									</p>
									<p class="text">
										Vattenfall Cyclassics-Hamburg (GER). Tyler Farrar (Garmin-Transitions) wins Vattenfall Cyclassics for the second year running. Continuing Team Garmin-Transitions great run of form in ...&nbsp;<span class="product_assoc_date_news">(20 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Tyler Farrar winning in Germany"> <a href="/en/news/road/Tyler-Farrar-winning-in-German" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Dan-Martin-winning-in-Poland'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4120/4925816379_9f60fe6946_m.jpg" class="big" alt="Dan Martin winning in Poland">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Dan Martin winning in Poland</b>
									</p>
									<p class="text">
										Tour of Poland 2010 – final result. Dan Martin's (Garmin-Transitions) aggressive attack on the tough finish climb on stage 5 of the Tour of Poland to take the leader's jersey. That was ...&nbsp;<span class="product_assoc_date_news">(11 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Dan Martin winning in Poland"> <a href="/en/news/road/Dan-Martin-winning-in-Poland" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/product-tests/R-Sys-SL-awarded'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4079/4926411368_c1a649cafa_m.jpg" class="big" alt="R-Sys SL awarded">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>R-Sys SL awarded</b>
									</p>
									<p class="text">
										Road Bike Magazin – Germany (08/2010). In its August issue (08/2010), the German RoadBike Magazine, one of the largest selling magazine in Europe, gave its best on test result to the ...&nbsp;<span class="product_assoc_date_news">(6 August 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="R-Sys SL awarded"> <a href="/en/news/product-tests/R-Sys-SL-awarded" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Overall-win-and-points-jersey-for-Farrar'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4075/4925813719_af3c487bcc_m.jpg" class="big" alt="Overall win and points jersey for Farrar">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Overall win and points jersey for Farrar</b>
									</p>
									<p class="text">
										Delta Tour of Zealand (NL). Tyler Farrar (Garmin-Transitions) won the overall classification at the three-day Delta Tour of Zeeland in the Netherlands. Tyler took the overall victory for ...&nbsp;<span class="product_assoc_date_news">(15 June 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Overall win and points jersey for Farrar"> <a href="/en/news/road/Overall-win-and-points-jersey-for-Farrar" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Liquigas-Doimo-win-the-Giro-with-Mavic'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4139/4925805025_d565ca7f03_m.jpg" class="big" alt="Liquigas-Doimo win the Giro with Mavic">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Liquigas-Doimo win the Giro with Mavic</b>
									</p>
									<p class="text">
										Giro D’Italia – summary. Mavic wheels are on the top podium steps: General Classification win with Ivan Basso, Best Climber classification win with Matthew Lloyd and a total of 6 stage ...&nbsp;<span class="product_assoc_date_news">(1 June 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Liquigas-Doimo win the Giro with Mavic"> <a href="/en/news/road/Liquigas-Doimo-win-the-Giro-with-Mavic" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Mavic-Shines-in-the-California-Sun'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4079/4897844950_99dc79d64b_m.jpg" class="big" alt="Mavic Shines in the California Sun">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Mavic Shines in the California Sun</b>
									</p>
									<p class="text">
										Tour of California – summary. Mavic wheels dominated the top step of the podium at the Tour of California as Garmin-Transitions and Liguigas-Doimo team riders rolled to victory in 5 of ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Mavic Shines in the California Sun"> <a href="/en/news/road/Mavic-Shines-in-the-California-Sun" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Liquigas-Doimo-won-two-stages-in-a-row'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4081/4925806899_6abbed56c3_m.jpg" class="big" alt="Liquigas-Doimo won two stages in a row">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Liquigas-Doimo won two stages in a row</b>
									</p>
									<p class="text">
										Giro D’Italia–Stage 14 &amp; 15. After the team time trial win at stage 4th by the Liquigas-Doimo squad, now the individual riders shows their strength too. Vincenzo Nibali won the 14th ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Liquigas-Doimo won two stages in a row"> <a href="/en/news/road/Liquigas-Doimo-won-two-stages-in-a-row" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Philippe-Gilbert-starts-by-winning'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4099/4926405660_db0f1e9782_m.jpg" class="big" alt="Philippe Gilbert starts by winning">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Philippe Gilbert starts by winning</b>
									</p>
									<p class="text">
										Tour of Belgium – Stage 1. Philippe Gilbert (Omega-Pharma Lotto) took the first win of the Belgian Tour, finishing his 66km winning breakaway with a sprint for victory, defeating the two ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Philippe Gilbert starts by winning"> <a href="/en/news/road/Philippe-Gilbert-starts-by-winning" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Omega-Pharma-Lotto-won-the-6th-stage'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4075/4926403688_03ec2bdf97_m.jpg" class="big" alt="Omega-Pharma Lotto won the 6th stage">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Omega-Pharma Lotto won the 6th stage</b>
									</p>
									<p class="text">
										Giro D’Italia–Stage 6. Matthew Lloyd (Omega-Pharma Lotto), 26 years-old Australian, won his first Grand Tour stage victory in addition with his National Champion title back in 2008, and ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Omega-Pharma Lotto won the 6th stage"> <a href="/en/news/road/Omega-Pharma-Lotto-won-the-6th-stage" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Ryder-Hesjedal-wins-final-stage'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4139/4926414946_9e7880dc37_m.jpg" class="big" alt="Ryder Hesjedal wins final stage">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Ryder Hesjedal wins final stage</b>
									</p>
									<p class="text">
										Tour of California – 8th stage. Following on from Dave Zabriskie's success in Santa Cruz, Ryder Hesjedal took the final stage of the Tour of California in Thousand Oaks. Zabriskie also ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Ryder Hesjedal wins final stage"> <a href="/en/news/road/Ryder-Hesjedal-wins-final-stage" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Sagan-stroke-two-wins-back-to-back'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4135/4926406122_ca95783068_m.jpg" class="big" alt="Sagan stroke two wins back to back">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Sagan stroke two wins back to back</b>
									</p>
									<p class="text">
										Tour of California – 5th and 6th stage. Peter Sagan (Liquigas-Doimo) won both the 5th and 6th stages reaching a total of 3 stages for his team. He was racing with Cosmic Carbone ...&nbsp;<span class="product_assoc_date_news">(27 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Sagan stroke two wins back to back"> <a href="/en/news/road/Sagan-stroke-two-wins-back-to-back" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Liquigas-Doimo-fly-to-TTT-victory-and-Nibali-takes-the-pink-jersey'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4118/4925809197_267855858a_m.jpg" class="big" alt="Liquigas-Doimo fly to TTT victory and Nibali takes the pink jersey.">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Liquigas-Doimo fly to TTT victory and Nibali takes the pink jersey.</b>
									</p>
									<p class="text">
										Giro d'Italia - Stage 3. Liquigas-Doimo won the Giro d'Italia's stage four team time trial today, covering 33 kilometres from Savigliano to Cuneo in 36:37. The team chose the option to ...&nbsp;<span class="product_assoc_date_news">(20 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Liquigas-Doimo fly to TTT victory and Nibali takes the pink jersey."> <a href="/en/news/road/Liquigas-Doimo-fly-to-TTT-victory-and-Nibali-takes-the-pink-jersey" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Three-Mavic-athletes-on-the-Giro%E2%80%99s-podium'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4119/4925808745_9e92e495c8_m.jpg" class="big" alt="Three Mavic athletes on the Giro’s podium">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Three Mavic athletes on the Giro’s podium</b>
									</p>
									<p class="text">
										Giro D’Italia 2010 – 10th stage. Tyler Farrar (Garmin-Transitions), already wearing the red points jersey for best climber, won his second stage of the current Giro d'Italia, finishing ...&nbsp;<span class="product_assoc_date_news">(19 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Three Mavic athletes on the Giro’s podium"> <a href="/en/news/road/Three-Mavic-athletes-on-the-Giro%E2%80%99s-podium" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Garmin-Transitions-takes-the-lead'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4141/4926406440_c0beed5322_m.jpg" class="big" alt="Garmin-Transitions takes the lead">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Garmin-Transitions takes the lead</b>
									</p>
									<p class="text">
										Tour of California – 3rd stage. David Zabriskie (Garmin-Transitions) not only won the 3rd stage finishing in Santa Cruz but also took the yellow leaders jersey. He was racing with Cosmic ...&nbsp;<span class="product_assoc_date_news">(19 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Garmin-Transitions takes the lead"> <a href="/en/news/road/Garmin-Transitions-takes-the-lead" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Tyler-Farrar-won-stage-2'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4139/4925808917_952d8e8f94_m.jpg" class="big" alt="Tyler Farrar won stage 2">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Tyler Farrar won stage 2</b>
									</p>
									<p class="text">
										Giro D’Italia 2010. Tyler Farrar took his biggest win of the year so far sprinting to victory on Stage 2 of the Giro D'Italia in Utrecht. On a difficult day marred by many crashes, Tyler ...&nbsp;<span class="product_assoc_date_news">(10 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Tyler Farrar won stage 2"> <a href="/en/news/road/Tyler-Farrar-won-stage-2" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/One-more-for-Liquigas-Doimo-0'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4115/4925798719_6c20b03e97_m.jpg" class="big" alt="One more for Liquigas-Doimo">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>One more for Liquigas-Doimo</b>
									</p>
									<p class="text">
										Victory at Tour de Romandie (CH). Victory on the 28th of April in Switzerland at the Tour de Romandie for Peter Sagan from the Liquigas-Doimo Cycling Team. Using Cosmic Carbone Ultimate ...&nbsp;<span class="product_assoc_date_news">(5 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="One more for Liquigas-Doimo"> <a href="/en/news/road/One-more-for-Liquigas-Doimo-0" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/One-more-for-Liquigas-Doimo'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4136/4925802315_71fb64de30_m.jpg" class="big" alt="One more for Liquigas-Doimo">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>One more for Liquigas-Doimo</b>
									</p>
									<p class="text">
										Victory at Giro Dell’Appennino. Victory on the 25th of April in Italia at the Giro dell'Appennino of Robert Kiserlovski from the Liquigas-Doimo Cycling Team using a Cosmic Carbone ...&nbsp;<span class="product_assoc_date_news">(5 May 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="One more for Liquigas-Doimo"> <a href="/en/news/road/One-more-for-Liquigas-Doimo" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Mavic-double-at-the-Amstel-Gold-Race'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4137/4926396998_0319c1205a_m.jpg" class="big" alt="Mavic double at the Amstel Gold Race">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Mavic double at the Amstel Gold Race</b>
									</p>
									<p class="text">
										Philippe Gilbert won the classic Dutch race, followed by Ryder Hesjedal. Philippe Gilbert (Omega Pharma-Lotto) came first at the top of the Cauberg, ahead of Ryder Hesjedal ...&nbsp;<span class="product_assoc_date_news">(19 April 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Mavic double at the Amstel Gold Race"> <a href="/en/news/road/Mavic-double-at-the-Amstel-Gold-Race" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/triathlon/1st-World-Cup-1st-victory'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4123/4926397098_a9fd6be7cc_m.jpg" class="big" alt="1st World Cup, 1st victory">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>1st World Cup, 1st victory</b>
									</p>
									<p class="text">
										Bevan Docherty won in Sydney. The Kiwi rider, bronze medalist at Beijing, started the season the same way he did last year, by winning the first World Championships ITU Series race. Set ...&nbsp;<span class="product_assoc_date_news">(14 April 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="1st World Cup, 1st victory"> <a href="/en/news/triathlon/1st-World-Cup-1st-victory" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Another-win-for-Garmin-Transitions'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4100/4925803027_d17816587e_m.jpg" class="big" alt="Another win for Garmin Transitions">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Another win for Garmin Transitions</b>
									</p>
									<p class="text">
										Tyler Farrar becomes the first American to win Scheldeprijs.. Tyler Farrar continued the teams winning streak by sprinting to victory after 205,4 km in the Belgian semi-classic GP of ...&nbsp;<span class="product_assoc_date_news">(8 April 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Another win for Garmin Transitions"> <a href="/en/news/road/Another-win-for-Garmin-Transitions" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Prototype-2nd-win'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4138/4925795275_ea85c6480a_m.jpg" class="big" alt="Prototype 2nd win">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Prototype 2nd win</b>
									</p>
									<p class="text">
										David Millar wins Three Days De Panne. David (Garmin Transitions) demonstrate once again his mastership of the hard exercise of the Time Trial where power and aerodynamic are key ...&nbsp;<span class="product_assoc_date_news">(2 April 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Prototype 2nd win"> <a href="/en/news/road/Prototype-2nd-win" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/The-racers-Chicchi-and-Santaromita-and-the-whole-Team-win'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4143/4926389904_0f163f62fb_m.jpg" class="big" alt="The racers Chicchi and Santaromita and the whole Team win">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>The racers Chicchi and Santaromita and the whole Team win</b>
									</p>
									<p class="text">
										Liquigas-Doimo dominating. First, Francesco Chicchi won the first stage of the Settimana Internazionale Coppi e Bartali, then Team Liquigas-Doimo dominate the Team Time Trial, and to ...&nbsp;<span class="product_assoc_date_news">(31 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="The racers Chicchi and Santaromita and the whole Team win"> <a href="/en/news/road/The-racers-Chicchi-and-Santaromita-and-the-whole-Team-win" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Name-code-CC80-winning-the-Time-Trial'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4078/4926390656_3bbff2aeb1_m.jpg" class="big" alt="Name code: CC80, winning the Time Trial">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Name code: CC80, winning the Time Trial</b>
									</p>
									<p class="text">
										First victory thanks to David Millar. David took all the benefits from the latest development done in collaboration with Mavic by fully using the aerodynamic effects of the CC80 wheel ...&nbsp;<span class="product_assoc_date_news">(31 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Name code: CC80, winning the Time Trial"> <a href="/en/news/road/Name-code-CC80-winning-the-Time-Trial" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Winners-Boasson-Hagen-and-Daniele-Bennati'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4079/4926271809_52319b7e32_m.jpg" class="big" alt="Winners: Boasson Hagen and Daniele Bennati">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Winners: Boasson Hagen and Daniele Bennati</b>
									</p>
									<p class="text">
										Tirreno-Adriatico, ITA. In the third stage, Daniele (Liquigas-Doimo-wheels) won the sprint after several attempts earlier in the week. He dedicated the victory to his former Italian team ...&nbsp;<span class="product_assoc_date_news">(18 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Winners: Boasson Hagen and Daniele Bennati"> <a href="/en/news/road/Winners-Boasson-Hagen-and-Daniele-Bennati" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Robert-Hunter-won-opening-stage-of-Vuelta-de-Murcia'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4141/4926391508_c45917d278_m.jpg" class="big" alt="Robert Hunter won opening stage of Vuelta de Murcia">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Robert Hunter won opening stage of Vuelta de Murcia</b>
									</p>
									<p class="text">
										The Garmin-Transitions team member takes the leader's jersey. . Robbie's win comes after a 135km run with a three man breakaway led by teammate Danny Pate. The breakaway was caught with ...&nbsp;<span class="product_assoc_date_news">(4 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Robert Hunter won opening stage of Vuelta de Murcia"> <a href="/en/news/road/Robert-Hunter-won-opening-stage-of-Vuelta-de-Murcia" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Video-of-a-test-session-with-Garmin-Transitions-Team'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4077/4925801351_94bffae74d_m.jpg" class="big" alt="Video of a test session with Garmin-Transitions Team">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Video of a test session with Garmin-Transitions Team</b>
									</p>
									<p class="text">
										Prototype development with the Garmin-Transitions team. Mavic continues its Research &amp; Development with the Garmin-Transitions team. The engineers from Mavic utilized Garmin's ...&nbsp;<span class="product_assoc_date_news">(3 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Video of a test session with Garmin-Transitions Team"> <a href="/en/news/road/Video-of-a-test-session-with-Garmin-Transitions-Team" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Roman-Kreuziger-Cze-won-the-Giro-di-Sardegna-ITA'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4117/4925818577_2aa65d65e0_m.jpg" class="big" alt="Roman Kreuziger (Cze) won the Giro di Sardegna (ITA)">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Roman Kreuziger (Cze) won the Giro di Sardegna (ITA)</b>
									</p>
									<p class="text">
										Winning by 2 sec. With the assistance of the whole Liquigas-Doimo team, Roman kept his leader jersey until the last stage of the 5 day Italian race, followed at only two seconds by Chris ...&nbsp;<span class="product_assoc_date_news">(1 March 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Roman Kreuziger (Cze) won the Giro di Sardegna (ITA)"> <a href="/en/news/road/Roman-Kreuziger-Cze-won-the-Giro-di-Sardegna-ITA" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Daniele-Bennati-won-the-2nd-stage-of-Tour-D%E2%80%99Oman'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4123/4925790189_c2409e91c6_m.jpg" class="big" alt="Daniele Bennati won the 2nd stage of Tour D’Oman">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Daniele Bennati won the 2nd stage of Tour D’Oman</b>
									</p>
									<p class="text">
										Liquigas: sprint for the win. The Italian cyclist sprinted for the win after 148,5 km. The same day, Edvald Boasson Hagen (Nor) took the leader jersey and secured it the day after by ...&nbsp;<span class="product_assoc_date_news">(16 February 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Daniele Bennati won the 2nd stage of Tour D’Oman"> <a href="/en/news/road/Daniele-Bennati-won-the-2nd-stage-of-Tour-D%E2%80%99Oman" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="element" onClick="document.location.href='/en/news/road/Liquigas-victory-on-Tour-of-Qatar'">
								<div class="imageslot">
									<img height="108" src="http://farm5.static.flickr.com/4135/4926414396_ba8e34c18d_m.jpg" class="big" alt="Liquigas victory on Tour of Qatar">
								</div>
								<div class="contentslot">
									<p class="title">
										<b>Liquigas victory on Tour of Qatar</b>
									</p>
									<p class="text">
										Francesco Chicchi won the 4th stage. The Italian sprinted for the 4th stage win of the Qatari race. Francesco finished in front of the top sprinters and earned his second win of the ...&nbsp;<span class="product_assoc_date_news">(11 February 2010)</span>
									</p>
									<p>
										<img src="../images/themes/more_info.gif" alt="Liquigas victory on Tour of Qatar"> <a href="/en/news/road/Liquigas-victory-on-Tour-of-Qatar" class="moreinfos">More infos</a>
									</p>
								</div>
								<div class="clear"></div>
							</div>
						</div>


						<!-- shop finder ————————————————— -->  <!-- insert into Buff ——————————————— -->

						<div class="tab_content shopfinder" id="shopfinder_content">
							
						<!-- downloads (pdfs) ————————————————— -->  <!-- use in TruMedical ————————— -->

						<div class="tab_content downloads" id="downloads_content">
							<div class="download_content">
								<img src="../images/themes/picto_pdf.gif"> <a target="_blank" href="/sites/default/files/download/2011_Mavic_BikeSystems_GB.pdf">2011 bike systems catalog</a> <span class="size">(5.47 mo)</span>
							</div>
							<div class="download_content">
								<img src="../images/themes/picto_pdf.gif"> <a target="_blank" href="/sites/default/files/download/Swissstop_BrakePads_2_web.pdf">Swisstop brake pads</a> <span class="size">(0.24 mo)</span>
							</div>
							<div class="download_content">
								<img src="../images/themes/picto_pdf.gif"> <a target="_blank" href="/sites/default/files/download/2008_wheel_user-guide.pdf">Wheels user guide</a> <span class="size">(3.87 mo)</span>
							</div>
							<div class="download_content">
								<img src="../images/themes/picto_pdf.gif"> <a target="_blank" href="/sites/default/files/download/FTSL_0.pdf">FTS-L</a> <span class="size">(0.13 mo)</span>
							</div>
							<div class="download_content">
								<img src="../images/themes/picto_pdf.gif"> <a target="_blank" href="/sites/default/files/download/tirepressurechart_eng.pdf">recommended tire pressure</a> <span class="size">(0.04 mo)</span>
							</div>
						</div>

						<div class="clear"></div>

					</div> <!-- end div 'tabs' -->

					<div id="altpopdisplayer" style="position:absolute;z-index: 20002;"></div>

				</div>

			</div><!-- end div 'subcontainer' -->


			<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

			<div id="right_content_container">
	      <div id="right_content">
	                    <a class="link" href="/en/news/road/Mavic-riders-win-National-Championships-across-Europe?intcmp=roadtriathlon+news" evar4="news">
	                        <div class="text">
	                            <p class="helvetica title">news</p>

	                            <p class="content">Mavic riders win National Championships across Europe</p>
	                        </div>
	                        <div style="float:left;background-color:#000;width:117px;height:83px;overflow:hidden;">
	                            <table style="width:117px;height:83px;" cellspacing="0" cellpadding="0">
	                                <tr>
	                                    <td style="width:117px;height:83px;overflow:hidden;padding: 0 0 0 0;" valign="middle">
	                                        <img width="117px" src="http://farm6.static.flickr.com/5153/5876997884_5e13477568_m.jpg" />
	                                    </td>
	                                </tr>
	                            </table>
	                         </div>
	                    </a>

	                    <div class="clear"></div>
	                    <a class="link" href="http://www.mavic.com/en/athlete/road?intcmp=road+athletes" target="_self" evar4="road athletes">
	                        <div class="text">
	                            <p class="helvetica title">athletes</p>
	                            <p class="content">more information about Mavic athletes</p>
	                        </div>
	                        <img style="float:left;" src="../images/athletes_0.jpg" />
	                    </a>

	                    <div class="clear"></div>
	                    <div class="flash_content" id="player">
	                        <img src="../images/flash_right_content.jpg" />
	                    </div>

	                    <script type="text/javascript">
	                        //if(parameters == undefined) { // pas de video si il y en a deja une dans la page
	                            var pqs2 = new ParsedQueryString();
	                            var parameterNames2 = pqs2.params(false);
	                            var parameters2 =
	                            {	id: "1"
	                                ,   width: "233"
	                                ,   height: "131"
	                                ,   videoID: "aerodynamic-wheel-development-with-garmin-transition-part-2"
	                                ,	language: language
	                                ,	configuration: "/sites/default/modules/webtv/configuration.xml"
	                                ,   wmode: "opaque"
	                            };

	                            for (var i=0; i<parameterNames2.length; i++)
	                            {
	                                var parameterName2 = parameterNames2[i];
	                                parameters2[parameterName2]
	                                    =	pqs2.param(parameterName2)
	                                    ||	parameters2[parameterName2];
	                            }
	                            // Embed the player SWF:
	                                swfobject.embedSWF
	                                    ( "/sites/default/modules/webtv/biMediaPlayer.swf"
	                                    , "player"
	                                    , parameters2["width"], parameters2["height"]
	                                    , "10.0.0"
	                                    , {}
	                                    , parameters2
	                                    , { allowFullScreen: "true", wmode: "opaque" }
	                                    , { name: "StrobeMediaPlayback" }
	                                    );
	                        //}
	                    </script>

	                    <div class="clear"></div>
	                </div>
			</div><!-- end div 'right_content_container' -->

			<div id="forScrollTop" class="clear"></div>  <!-- debug: purpose?? -->

		</div><!-- end div 'container' -->


    <!-- logo_container ——————————————————————————————————————————————————————————————— -->

		<div id="logo_container">
			<a href="/en" id="logo" title="home page" name="logo">home page</a>
		</div>
		
	<% end %>



